.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# IntelliJ
.idea/

# Rope
.ropeproject

# Django stuff:
*.log
*.pot
core/static/admin

*.sqlite3
dbdb_io/local_settings.py
dbdb_io/settings.py
media
.env
static-live

data/db.sqlite3.*
data/xapian
