alabaster==0.7.12
Babel==2.8.0
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
Django==2.0.13
django-autoslug==1.9.6
django-bootstrap4==1.1.1
django-countries==5.5
django-environ==0.4.5
django-haystack==2.8.1
django-nocaptcha-recaptcha==0.0.20
docutils==0.16
easy-thumbnails==2.7
idna==2.8
imagesize==1.2.0
Jinja2==2.10.3
lxml==4.4.2
MarkupSafe==1.1.1
mysqlclient==1.4.6
packaging==20.0
Pillow==7.0.0
Pygments==2.5.2
PyJWT==1.7.1
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
six==1.13.0
snowballstemmer==2.0.0
soupsieve==1.9.5
Sphinx==1.8.5
sphinxcontrib-websupport==1.1.2
urllib3==1.25.7
Whoosh==2.7.4
xapian-haystack==2.1.1
