{% extends 'base.html' %}

{% load bootstrap4 %}

{% block css %}
<style>
form#registration { background-color:#fff; margin:0 auto; padding:40px 40px; max-width:500px; }
form#registration h1 { font-size:2rem; margin-top:0; margin-bottom:1rem; text-align:center; }
form#registration label { margin-bottom:0.2rem; }
form#registration .form-group:last-child { margin-top:30px; margin-bottom:0px; }
form#registration [for="captcha"] { display:none; }
</style>

<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <form method="POST" id="registration">
                    <h1>User Registration</h1>

                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" id="btn_submit"
                            class="g-recaptcha btn btn-primary"
                            data-sitekey="{{ recaptcha_key }}"
                            data-callback="onCaptchaSubmit">
                            Submit
                        </button>
                        <a href="/" class="btn btn-default float-right">
                            Cancel
                        </a>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
function onCaptchaSubmit(){
    document.getElementById('registration').submit();
}
</script>
{% endblock %}
