{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}
    <div class="jumbotron">
        <div class="row justify-content-md-center">
        <div class="col-md-6">
            {% if request.GET.status and request.GET.status == 'success' %}
                <div class="alert alert-info alert-dismissable alert-link">
                    <button class="close" type="button" data-dismiss="alert" aria-hidden="true">&#215;</button>
                    Your account was successfully created!
                </div>
            {% endif %}
            <form action="." method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <p class="small"><a href="/password_reset/">Forgot your password?</a></p>
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
    </div>
{% endblock %}
