{% extends 'base.html' %}
{% load page_title %}

{% block title %}Password Reset Sent{{ DBDB_TITLE_SEPARATOR }}{% endblock %}

{% block content %}
{% page_title %}
{% ptitle_kicker %}Account{% endptitle_kicker %}
{% ptitle_title %}Check Your Email{% endptitle_title %}
{% ptitle_sub %}We&rsquo;ve emailed you instructions for resetting your password.{% endptitle_sub %}
{% endpage_title %}

<div class="row justify-content-center">
<div class="col-12 col-lg-8 col-xl-7">

<div class="block">
    <div class="block-body">
        <p class="mb-0">If the email doesn&rsquo;t arrive within a few minutes, check your spam folder or make sure you entered the address you registered with.</p>
    </div>
</div>

<a href="{% url 'login' %}" class="btn btn-solid">Return to Login</a>

</div>
</div>
{% endblock %}
