{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Password Reset{% endblock %}


{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-md-6">

            {% if request.GET.status and request.GET.status == 'success' %}
            <div class="alert alert-info alert-link alert-dismissable">
                <button class="close" type="button" data-dismiss="alert" aria-hidden="true">&#215;</button>
                Your account was successfully created!
            </div>
            {% endif %}

            {% if request.user.is_authenticated %}
            <div class="alert alert-warning alert-link">
                You already logged in. Please <a href="{% url 'logout' %}?next={{ request.get_full_path|urlencode }}">logout</a> first.
            </div>
            {% else %}
                <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.
            <form action="." method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div>
                    <button type="submit" class="btn btn-primary btn-block">
                        Reset
                    </button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
