{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Set New Password{{ DBDB_TITLE_SEPARATOR }}{% endblock %}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            {% if validlink %}
            <h2>Set New Password</h2>
            <form action="." method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div>
                    <button type="submit" class="btn btn-primary btn-block">
                        Set Password
                    </button>
                </div>
            </form>
            {% else %}
            <h2>Password Reset Failed</h2>
            <p>The password reset link is invalid or has already been used. Reset links expire after 3 days.</p>
            <a href="{% url 'password_reset' %}" class="btn btn-primary">Request a New Link</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
