{% extends 'base.html' %}

{% block title %}Password Reset Sent{{ DBDB_TITLE_SEPARATOR }}{% endblock %}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <h2>Check Your Email</h2>
            <p>We've emailed you instructions for setting your password. You should receive the email shortly.</p>
            <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
            <a href="{% url 'login' %}" class="btn btn-primary">Return to Login</a>
        </div>
    </div>
{% endblock %}
