{% extends 'base.html' %}
{% load page_title %}

{% block title %}Password Reset Complete{{ DBDB_TITLE_SEPARATOR }}{% endblock %}

{% block content %}
{% page_title %}
{% ptitle_kicker %}Account{% endptitle_kicker %}
{% ptitle_title %}Password Reset Complete{% endptitle_title %}
{% ptitle_sub %}Your password has been set. You can now sign in with your new password.{% endptitle_sub %}
{% endpage_title %}

<div class="row justify-content-center">
<div class="col-12 col-lg-8 col-xl-7">

<a href="{{ login_url }}" class="btn btn-solid">Log In</a>

</div>
</div>
{% endblock %}
