{% extends 'base.html' %}
{% load page_title %}

{% block title %}Set New Password{{ DBDB_TITLE_SEPARATOR }}{% endblock %}

{% block content %}
{% page_title %}
{% ptitle_kicker %}Account{% endptitle_kicker %}
{% ptitle_title %}Set New Password{% endptitle_title %}
{% endpage_title %}

<div class="row justify-content-center">
<div class="col-12 col-lg-8 col-xl-7">

{% if validlink %}

{% if form.non_field_errors %}
<div class="suggest-error mb-3">{{ form.non_field_errors.0 }}</div>
{% endif %}

<form method="POST">
    {% csrf_token %}

    <div class="block">
        <div class="block-h">New Password</div>
        <div class="block-body">
            <div class="ed-field">
                <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
                {{ form.new_password1 }}
                {% if form.new_password1.help_text %}<div class="form-text">{{ form.new_password1.help_text|safe }}</div>{% endif %}
                {% if form.new_password1.errors %}<div class="suggest-error">{{ form.new_password1.errors.0 }}</div>{% endif %}
            </div>
            <div class="ed-field mb-0">
                <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
                {{ form.new_password2 }}
                {% if form.new_password2.errors %}<div class="suggest-error">{{ form.new_password2.errors.0 }}</div>{% endif %}
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-solid">Set Password</button>
</form>

{% else %}

<div class="block">
    <div class="block-body">
        <p class="mb-0">This password reset link is invalid or has already been used. Reset links expire after 3 days.</p>
    </div>
</div>
<a href="{% url 'password_reset' %}" class="btn btn-solid">Request a New Link</a>

{% endif %}

</div>
</div>
{% endblock %}
