{% extends 'base.html' %}
{% load alerts %}
{% load page_title %}

{% block title %}Password Reset Sent{{ DBDB_TITLE_SEPARATOR }}{% endblock %}

{% block content %}
{% page_title %}
{% ptitle_kicker %}Account{% endptitle_kicker %}
{% ptitle_title %}Reset Password: Email Sent{% endptitle_title %}
{% endpage_title %}

<div class="row justify-content-center">
<div class="col-12 col-lg-8 col-xl-7">

{% alert type="success" %}We&rsquo;ve emailed you instructions for resetting your password. If the email doesn&rsquo;t arrive within a few minutes, check your spam folder or make sure you entered the address you registered with.{% endalert %}

<p class="mt-2"><a href="{% url 'login' %}" class="btn btn-solid">Return to Login</a>

</div>
</div>
{% endblock %}
