{% extends 'base.html' %}
{% load staticfiles %}
{% load countries %}
{% load bootstrap4 %}

{% block title %}
Advanced Search
{% endblock %}


{% block css %}
{% endblock %}


{% block content %}
<form id="filtered_content" method="GET">

    <section class="filters">

        <h2>Refine by</h2>

        {% for filtergroup in filtergroups %}
        <div class="filter-group" id="filtergroup_{{ filtergroup.id }}">

            <h3>
                {{ filtergroup.label }}
                {% if filtergroup.has_checked %}
                <a href="javascript:;" class="clear" title="clear selected"><i class="fas fa-eraser"></i> clear </a>
                {% endif %}
            </h3>

            <ul>
                {% for choice in filtergroup.choices %}
                <li {% if choice.is_hidden %}class="more"{% endif %}><label><input type="checkbox" name="{{ filtergroup.id }}" value="{{ choice.id }}" {% if choice.checked %}checked="checked"{% endif %}> {{ choice.label }}</label></li>
                {% endfor %}
                {% if filtergroup.has_more %}
                <li class="see-more">
                    <a href="javascript:;">Show more</a>
                </li>
                {% endif %}
            </ul>

        </div>
        {% endfor %}

    </section>

    <section class="content search-results">
            <h1>Advanced Search</h1>

            <div class="input-group input-group-lg" style=" margin:40px auto 40px auto; width:80%;">
                <input type="text" class="form-control" placeholder="Begin searching!" aria-label="Begin searching!" aria-describedby="search" name="q" value="{{ query }}">
                <div class="input-group-append">
                    <span class="input-group-text" id="search">Search</span>
                </div>
            </div>

            {% if has_search %}
                {% if versions %}
                    <h3>Found {{ versions|length }} result{% if versions|length > 1 %}s{% endif %} for
                    {% if country %}
                        {% get_country country as country %}
                        "{{ country.name }}"
                    {% endif %}
                    {% if derived %}
                        derived from 
                        {% if derived_system %}
                            <a href="{% url 'system' derived_system.slug %}">{{ derived_system.name }}</a>
                        {% else %}
                            "{{ derived }}"
                        {% endif %}
                    {% endif %}
                    {% if query %}
                        "{{ query }}"
                    {% endif %}
                    </h3>
                {% else %}
                    <h3>No results found for 
                    {% if country %}
                        {% get_country country as country %}
                        "{{ country.name }}"
                    {% endif %}
                    {% if derived %}
                        derived from "{{ derived }}"
                    {% endif %}
                    {% if query %}
                        "{{ query }}"
                    {% endif %}
                    </h3>
                {% endif %}
            {% else %}
                <p class="empty">enter a search query or choose a filter, or <a href="{% url 'browse' %}">browse databases</a></p>
            {% endif %}

            <!-- RESULTS -->
            <div class="card-columns">
                {% for version in versions %}
                    {% include 'core/version-card.html' %}
                {% endfor %}
            </div>
            <!-- END: CARD-COLUMNS -->
    </section>

</form>
{% endblock %}


{% block scripts %}
<script src="{% static 'lib/js/bootstrap-select.js' %}"></script>

<script>
$(document).ready(function () {

    var $filtered_content = $('#filtered_content');

    $('.filter-group').each(function(){
        var $clear = $('a.clear', this);
        var $filtergroup = $(this);
        var $seemore = $('li.see-more', this);

        $clear.click(function(){
            $filtergroup.find(':checked').prop('checked', false);
            $filtered_content.submit();
        });

        $seemore.find('a').click(function(){
            var $a = $(this);
            var $ul = $a.closest('ul');
            var $more = $ul.find('.more');

            if ( $a.hasClass('active') ) {
                $more.hide();
                $a.text('Show more');
                $a.removeClass('active');
            }
            else {
                $more.show();
                $a.text('Show less');
                $a.addClass('active');
            }
        });
    });

    $('.filter-group :checkbox').change(function(){
        $filtered_content.submit();
    });

});
</script>
{% endblock %}
