{% extends 'base.html' %}
{% load staticfiles %}

{% load bootstrap4 %}

{% block title %}
Advanced Search
{% endblock %}


{% block css %}
<style>
#filtered_content {
	align-content: stretch;
	align-items: stretch;
	display: flex;
}

#filtered_content > section.filters {
	background-color: #E9ECEF;
	padding: 10px;
	width: 400px;
}
#filtered_content > section.filters > h2 {
	color: #767676;
	font-size: 18px;
	margin-bottom: 20px;
}
#filtered_content > section.filters > div.filter-group {
	margin-top: 10px;
}
#filtered_content > section.filters > div.filter-group > h3 {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
}
#filtered_content > section.filters > div.filter-group > h3 > a {
	font-size: 12px;
	font-weight: normal;
	display: none;
}
#filtered_content > section.filters > div.filter-group > h3 > a:hover { text-decoration:none; }
#filtered_content > section.filters > div.filter-group > h3:hover > a { display: inline; }
#filtered_content > section.filters > div.filter-group > ul {
	list-style-type: none;
	margin: 5px 0 0 5px;
	padding: 0;
}
#filtered_content > section.filters > div.filter-group > ul > li {
	font-size: 12px;
	padding: 1px 0;
}
#filtered_content > section.filters > div.filter-group > ul > li.more {
	display:none;
}
#filtered_content > section.filters > div.filter-group > ul > li > label {
	display:inline;
	margin:0;
}

#filtered_content > section.content {
	background-color: #FFFFFF;
	flex-grow: 1;
	padding: 30px 30px;
}
#filtered_content > section.content p.empty { font-size:2.0em; margin-top:100px; text-align:center; }
#filtered_content > section.content div.version { margin-bottom:20px; max-width:800px; }
#filtered_content > section.content div.version h3 { font-size:20px; margin:0; }
#filtered_content > section.content div.version cite { color:#006621; font-size:13px; font-style:normal; }
#filtered_content > section.content div.version p { margin:0; }
</style>
{% endblock %}


{% block content %}
<form id="filtered_content" method="GET">

	<section class="filters">

		<h2>Refine by</h2>
		
		{% for filtergroup in filtergroups %}
		<div class="filter-group" id="filtergroup_{{ filtergroup.id }}">
		
			<h3>
				{{ filtergroup.label }}
				{% if filtergroup.has_checked %}
				<a href="javascript:;" class="clear" title="clear selected"><i class="fas fa-eraser"></i> clear </a>
				{% endif %}
			</h3>
			
			<ul>
				{% for choice in filtergroup.choices %}
				<li {% if choice.is_hidden %}class="more"{% endif %}><label><input type="checkbox" name="{{ filtergroup.id }}" value="{{ choice.id }}" {% if choice.checked %}checked="checked"{% endif %}> {{ choice.label }}</label></li>
				{% endfor %}
				{% if filtergroup.has_more %}
				<li class="see-more">
					<a href="javascript:;">Show more</a>
				</li>
				{% endif %}
			</ul>
		
		</div>
		{% endfor %}
		
	</section>

	<section class="content">
		<h1>Advanced Search</h1>
		
		<div class="input-group input-group-lg" style=" margin:40px auto 40px auto; width:80%;">
			<input type="text" class="form-control" placeholder="Begin searching!" aria-label="Begin searching!" aria-describedby="search" name="q" value="{{ q }}">
			<div class="input-group-append">
				<span class="input-group-text" id="search">Search</span>
			</div>
		</div>
		
		<div class="results">
		
			{% for version in versions %}
			<div class="version">
				<h3><a href="{% url 'system' version.system.slug %}">{{ version.system.name }}</a></h3>
				
				<div>
					<cite>{{ version.href }}</site>
				</div>
				
				<p>{{ version.description|truncatechars_html:500 }}</p>
			</div>
			{% empty %}
			{% if has_search %}
			<p class="empty">no results found</p>
			{% else %}
			<p class="empty">enter a search query or choose a filter, or <a href="{% url 'browse' %}">browse databases</a></p>
			{% endif %}
			{% endfor %}

		</div>

	</section>

</form>
{% endblock %}


{% block scripts %}
<script src="{% static 'lib/js/bootstrap-select.js' %}"></script>

<script>
$(document).ready(function () {

	var $filtered_content = $('#filtered_content');

	$('.filter-group').each(function(){
		var $clear = $('a.clear', this);
		var $filtergroup = $(this);
		var $seemore = $('li.see-more', this);

		$clear.click(function(){
			$filtergroup.find(':checked').prop('checked', false);
			$filtered_content.submit();
		});

		$seemore.find('a').click(function(){
			var $a = $(this);
			var $ul = $a.closest('ul');
			var $more = $ul.find('.more');

			if ( $a.hasClass('active') ) {
				$more.hide();
				$a.text('Show more');
				$a.removeClass('active');
			}
			else {
				$more.show();
				$a.text('Show less');
				$a.addClass('active');
			}
		});
	});

	$('.filter-group :checkbox').change(function(){
		$filtered_content.submit();
	});

});
</script>
{% endblock %}
