{% load static %}
{% load links %}
{% load django_bootstrap5 %}
{% load thumbnail %}
{% with logo=result.logo|thumbnail_url:'search' %}

<tr class="browse-row">
    <td><a href="{% url 'system' result.slug %}" class="full-row-link"></a></td>
    <td class="text-start diagonal-strip" style="--strip-color: {{ result.logo_color }}">
<!--        {% if result.logo %}-->
<!--        <img class="card-logo card-db-logo" loading="lazy" src="{% if result.logo|lower|slice:"-3:" == "svg" %}/media/{{ result.logo }}{% else %}{{ logo }}{% endif %}" alt="{{ result.name }}" height="20px" width="auto"/>-->
<!--        {% else %}-->
<!--        <img class="card-logo card-default-logo" src="{% static 'core/images/database-nologo.svg' %}" alt="{{ result.name }}" height="20px" width="auto"/>-->
<!--        {% endif %}-->
        <span class="fw-bold">{{ result.name }}</span>
    </td>
    <td class="text-start">
        {% spaceless %}
        {% for tag in result.system_tags %}
            {% if tag.name %}
                {% tag_link tag %}
            {% endif %}
        {% endfor %}
        {% endspaceless %}
    </td>
    <td class="text-end">
        {% if result.start_year %}
        {{ result.start_year }} 
        {% else %}
        &mdash;
        {% endif %}
    </td>
    <td class="text-end">
        {% if result.end_year %}
        {{ result.end_year }}
        {% else %}
        &mdash;
        {% endif %}
    </td>
</tr>

{% endwith %}
