{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block title %}
Field Checker
{% endblock %}



{% block content %}
<div class="main">
    <div class="container">
        <div class="row">
            <form id="content" method="GET">
                <select name="field">
                    {% for f in fields %}
                    <option value="{{ f }}" {% if f == field %}selected{% endif %}>{{ f }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Submit">
            </form>
        </div>
        
        {% if field %}
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">System</th>
                        <th scope="col">{{ field }}</th>
                        <th scope="col">Updated</th>
                    </tr>
                </thead>
                <tbody>
                {% for version in versions %}
                    <tr>
                        <td><a target="edit-{{ version.system.slug}}" href="{% url 'system_edit' version.system.slug %}">{{ version.system.name }}</a></td>
                        <td>Missing</td>
                        <td>{{ version.created }}</td>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
