{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block title %}
Browse
{% endblock %}


{% block css %}
<style>
#content { padding:40px 0; }

nav.letters { text-align: center; }
nav.letters.no-results { display:table; width:100%; vertical-align:center; }
nav.letters.no-results div.letters { display:table-cell; height: 75vh; text-align: center; vertical-align:middle; }


div.results { min-height: 60vh; padding:40px 40px 30px 40px; }
div.results div.version { margin-bottom:20px; max-width:800px; }
div.results div.version h3 { font-size:20px; margin:0; }
div.results div.version cite { color:#006621; font-size:13px; font-style:normal; }
div.results div.version p { margin:0; }
</style>
{% endblock %}


{% block content %}
<form class="main main-search">

    <div class="filters">

        <h2>Refine by</h2>

        {% for filtergroup in filtergroups %}
        <div class="filter-group" id="filtergroup_{{ filtergroup.id }}">

            <h3>
                {{ filtergroup.label }}
                {% if filtergroup.has_checked %}
                <a href="javascript:;" class="clear" title="clear selected"><i class="fas fa-eraser"></i> clear </a>
                {% endif %}
            </h3>

            <ul>
                {% for choice in filtergroup.choices %}
                <li {% if choice.is_hidden %}class="more"{% endif %}><label><input type="checkbox" name="{{ filtergroup.id }}" value="{{ choice.id }}" {% if choice.checked %}checked="checked"{% endif %}> {{ choice.label }}</label></li>
                {% endfor %}
                {% if filtergroup.has_more %}
                <li class="see-more">
                    <a href="javascript:;">Show more</a>
                </li>
                {% endif %}
            </ul>

        </div>
        {% endfor %}

    </div>

    <div class="search-results">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Begin searching!" aria-label="Begin searching!" aria-describedby="search" name="q" value="{{ query }}">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit" id="search">Search</button>
            </span>
        </div>

        {% if query %}
        <p class="results-info">
            {% if versions %}
            Found {{ versions|length }} results for "{{ query }}"
            {% else %}
            No results found for "<i>{{ query }}</i>"
            {% endif %}
        </p>
        {% else %}
        <nav class="letters {% if not has_results %}no-results{% endif %}" aria-label="Page navigation example">
            <div class="letters">
                {% for page in pagination %}
                <button type="submit" class="btn {% if page.is_active %}btn-primary active{% else %}btn-secondary{% endif %} {% if page.is_disabled %}disabled{% endif %}" name="letter" value="{{ page.letter }}">{{ page.letter }}</button>
                {% endfor %}
            </div>
        </nav>
        {% endif %}
        
        <!-- RESULTS -->
        <div class="card-columns">
            {% for version in versions %}
                {% include 'core/version-card.html' %}
            {% endfor %}
        </div>
        <!-- END: CARD-COLUMNS -->
    </div>
</form>
{% endblock %}


{% block scripts %}
<script src="{% static 'lib/js/bootstrap-select.js' %}"></script>

<script>
$(document).ready(function () {

	var $filtered_content = $('#filtered_content');

	$('.filter-group').each(function(){
		var $clear = $('a.clear', this);
		var $filtergroup = $(this);
		var $seemore = $('li.see-more', this);

		$clear.click(function(){
			$filtergroup.find(':checked').prop('checked', false);
			$filtered_content.submit();
		});

		$seemore.find('a').click(function(){
			var $a = $(this);
			var $ul = $a.closest('ul');
			var $more = $ul.find('.more');

			if ( $a.hasClass('active') ) {
				$more.hide();
				$a.text('Show more');
				$a.removeClass('active');
			}
			else {
				$more.show();
				$a.text('Show less');
				$a.addClass('active');
			}
		});
	});

	$('.filter-group :checkbox').change(function(){
		$filtered_content.submit();
	});

});
</script>
{% endblock %}
