{% extends 'base.html' %}
{% load static %}
{% load page_title %}
{% load version_tags %}

{% block title %}Field Checker{{ DBDB_TITLE_SEPARATOR }}{% endblock %}

{% block content %}
{% page_title %}
{% ptitle_kicker %}Admin Tool{% endptitle_kicker %}
{% ptitle_title %}Empty Fields{% endptitle_title %}
{% ptitle_sub %}Find entries missing required fields{% endptitle_sub %}
{% endpage_title %}

    <div class="row">
        <div class="col">
                Use this form to identify which entries are missing certain fields.
                We use this because we want to make sure that each database has at least a logo, website, and country of origin.
                The "Reverse" option allows you to find the entries that do have a field populated.

                <form id="content" method="GET" class="mt-2">
                    <label for="formFieldSelect">Field:</label>
                    <select id="formFieldSelect" name="field">
                        {% for f in fields %}
                        <option value="{{ f }}" {% if f == field %}selected{% endif %}>{{ f }}</option>
                        {% endfor %}
                    </select>

                    <label for="formReverse">Reverse:</label>
                    <input id="formReverse" type="checkbox" name="reverse" value="1" {% if reverse %}checked{% endif %}/>

                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>

        {% if field %}
        <div class="row border-top mt-4 pt-4">
            <div class="col">
                <h2>Matches: {{ versions|length}} / {{ num_systems }} [{{ match_percent }}%]</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">System</th>
                            <th scope="col">{{ field }}</th>
                            <th scope="col">Updated</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for version in versions %}
                        <tr>
                            <td>
                                <b><a target="view-{{ version.system.slug}}" href="{% url 'system' version.system.slug %}">{{ version.system.name }}</a></b>
                                <a target="edit-{{ version.system.slug}}" href="{% url 'system_edit' version.system.slug %}">[EDIT]</a>
                            </td>
                            <td>
                                {% if field == 'wikipedia_url' %}
                                    <a target="wiki-{{ version.system.slug}}" href="http://en.wikipedia.org/wiki/Special:Search?search={{ version.system.name }}&go=Go">[Search]</a>
                                {% else %}
                                    {{ version.value }}
                                {% endif %}
                            </td>
                            <td>{% sv_created version %}</td>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
{% endblock %}
