{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block title %}
Field Checker
{% endblock %}

{% block content %}
<div class="main">
    <div class="container">
            <h1>Show Empty Fields</h1>
        <div class="row">
            <form id="content" method="GET">
                <label for="formFieldSelect">Field:</label>
                <select id="formFieldSelect" name="field">
                    {% for f in fields %}
                    <option value="{{ f }}" {% if f == field %}selected{% endif %}>{{ f }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Submit">
            </form>
        </div>
        
        {% if field %}
        <div class="row border-top mt-4 pt-4">
            <h2>Matches: {{ versions|length}} / {{ num_systems }} [{{ match_percent }}%]</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">System</th>
                        <th scope="col">{{ field }}</th>
                        <th scope="col">Updated</th>
                    </tr>
                </thead>
                <tbody>
                {% for version in versions %}
                    <tr>
                        <td>
                            <b><a target="view-{{ version.system.slug}}" href="{% url 'system' version.system.slug %}">{{ version.system.name }}</a></b>
                            <a target="edit-{{ version.system.slug}}" href="{% url 'system_edit' version.system.slug %}">[EDIT]</a>
                        </td>
                        <td>
                            {% if field == 'wikipedia_url' %}
                                <a target="wiki-{{ version.system.slug}}" href="http://en.wikipedia.org/wiki/Special:Search?search={{ version.system.name }}&go=Go">[Search]</a>
                            {% else %}
                                Missing
                            {% endif %}
                        </td>
                        <td>{{ version.created }}</td>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
