{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% load thumbnail %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="main">
<div class="container">
    <div class="row justify-content-md-center homepage-header">
        <div class="col col-md-12 col-sm-12 text-center">
            <h1 class="display-3">Database of Databases</h1>
            <p class="lead">Discover and learn about <b>{{ num_systems|intcomma }}</b> database management systems</p>
            <form id="mainsearch" action="{% url 'browse' %}" method="GET" >
                <div class="form-group mb-1">
                    <input autofocus type="text" name="q" class="form-control form-control-lg" aria-describedby="Search field" placeholder="Search" style="max-width:700px;margin:0 auto;">
                </div>
                <p class="lead">
                    <a href="{% url 'browse' %}" class="btn btn-secondary active mt-2" role="button" aria-pressed="true"><i class="fas fa-th"></i> Browse</a>
                    &nbsp;
                    <a href="{% url 'stats' %}" class="btn btn-secondary active mt-2" role="button" aria-pressed="true"><i class="far fa-chart-bar"></i> Leaderboards</a>
                    &nbsp;
                    <a href="{% url 'browse' %}?start-year={% now "Y" %}" class="btn btn-secondary active mt-2" role="button" aria-pressed="true"><i class="fas fa-trophy"></i> New in {% now "Y" %}</a>
                </p>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row homepage-list">
        <div class="col-md-4 text-center">
            <h3>Most Recent</h3>
            <table class="table table-hover">
                <tbody>
                {% for item in most_recent %}
                    {% include 'core/home-listitem.html' %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4 text-center">
            <h3>Most Viewed</h3>
            <table class="table table-hover">
                <tbody>
                {% for item in most_visits %}
                    {% include 'core/home-listitem.html' %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4 text-center">
            <h3>Most Edited</h3>
            <table class="table table-hover">
                <tbody>
                {% for item in most_versions %}
                    {% include 'core/home-listitem.html' %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    // Homepage Search Box
    $("#mainsearch").find('input[name="q"]').autoComplete({
        minChars: 3,
        source: function(term, response) {
            $.getJSON('/search/autocomplete/', { q: term }, function(data) { response(data); });
        },
        onSelect: function(e, term, item) { window.location.href = "/db/" + convertToSlug(term); }
    });
</script>
{% endblock %}
