{% load static %}
{% load thumbnail %}

<div class="db-row">
    <span class="rank">{{ forloop.counter }}</span>
    <span class="mono-tile">
        {% if item.current.logo %}
        <img style="width:100%;height:100%;object-fit:contain;" loading="lazy"
             src="{% if item.current.logo.url|lower|slice:"-3:" == "svg" %}{{ item.current.logo.url }}{% else %}{{ item.current.logo|thumbnail_url:'thumb' }}{% endif %}"
             alt="{{ item.name }}">
        {% else %}
        {{ item.name|first|upper }}
        {% endif %}
    </span>
    <div class="db-info">
        <a class="db-name" href="{{ item.get_absolute_url }}">{{ item.name }}</a>
    </div>
</div>
