{% extends 'base.html' %}
{% load staticfiles %}
{% load countries %}
{% load thumbnail %}
{% load bootstrap4 %}

{% block title %}
Advanced Search
{% endblock %}


{% block css %}
<style>
table.table-stats { }
table.table-stats tbody { }
table.table-stats tbody tr { }
table.table-stats tbody tr td.stat-label { text-align:left; }
table.table-stats tbody tr td.stat-value { text-align:right; }
</style>
<link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
{% endblock %}


{% block content %}
<div class="main">
    <div class="container">
        <div class="row justify-content-md-center homepage-header">
            <div class="col col-md-12 col-sm-12 text-center">
                <h1 class="display-3">Statistics</h1>
                <p class="lead">Database counts.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for stat in stats %}
            <!-- BEGIN: {{ stat.label|upper }} -->
            <div class="card d-md-block text-center" style="width: 18rem;">
                <div class="card-header">
                    <h3>{{ stat.label }}</h3>
                </div>
                <table class="table table-hover table-stats">
                    <tbody>
                        {% for item in stat.items %}
                        <tr>
                            <td class="stat-label">
                            {% if stat.search_field == "country" %}
                                {% get_country item.label as country %}
                                <a href="{% url 'browse' %}?country={{ country.code }}" title="View other systems from {{ country.name }}"><i class="{{ country.flag_css }}"></i> {{ country.name }}
                            {% elif stat.systems %}
                                <a href="{% url 'browse' %}?{{ stat.search_field }}={{  item.slug }}">
                                {% if item.label.current.logo %}
                                    <img src="{{ item.label.current.logo|thumbnail_url:'stats' }}" alt="{{ item.label.name }}" />
                                {% else %}
                                    <img src="{% static 'core/images/database-nologo.svg' %}" alt="{{ item.label.name }}" />
                                {% endif %}
                                {{ item.label.name }}
                                </a>
                            {% else %}
                                <a href="{% url 'browse' %}?{{ stat.search_field }}={{ item.slug }}">{{ item.label }}</a>
                            {% endif %}
                            </td>
                            <td class="stat-value">{{ item.value }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- END: {{ stat.label|upper }} -->
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script>
$(document).ready(function () {

});
</script>
{% endblock %}
