{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% load countries %}
{% load logos %}
{% load django_bootstrap5 %}
{% load page_title %}

{% block title %}Leaderboards - {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
{% endblock %}

{% block content %}
{% page_title %}
{% ptitle_kicker %}{{ num_systems|intcomma }} Systems Ranked{% endptitle_kicker %}
{% ptitle_title %}<h1>Leaderboards</h1>{% endptitle_title %}
{% ptitle_sub %}Category statistics across the encyclopedia{% endptitle_sub %}
{% endpage_title %}

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 align-items-start">
    {% for stat in stats %}
    <div class="col">
    <div class="lb-card">
        <div class="lb-h py-2 px-1 fs-5 fw-bold">{{ stat.label }}</div>
        {% for item in stat.items %}
        <div class="lb-row py-2 px-3">
            <span class="lb-rank">{{ forloop.counter }}</span>
            {% if stat.search_field == "country" %}
                {% get_country item.label as country %}
                <a href="{% url 'browse' %}?country={{ country.code }}" class="lb-tile mono-tile" title="{{ country.name }}"><i class="{{ country.flag_css }}"></i></a>
                <a href="{% url 'browse' %}?country={{ country.code }}" class="lb-name">{{ country.name }}</a>
            {% elif stat.systems %}
                <a href="{% if item.url %}{{ item.url }}{% else %}{% url 'browse' %}?{{ stat.search_field }}={{ item.slug }}{% endif %}">
                    {% mono_tile item.label.current.logo item.label.name 'stats' extra_classes='lb-tile' lazy=False %}
                </a>
                <a href="{% if item.url %}{{ item.url }}{% else %}{% url 'browse' %}?{{ stat.search_field }}={{ item.slug }}{% endif %}" class="lb-name">{{ item.label.name }}</a>
            {% elif stat.organizations %}
                <a href="{% url 'browse' %}?{{ stat.search_field }}={{ item.slug }}">
                    {% mono_tile item.label.logo item.label.name 'stats' extra_classes='lb-tile' lazy=False %}
                </a>
                <a href="{% url 'browse' %}?{{ stat.search_field }}={{ item.slug }}" class="lb-name">{{ item.label.name }}</a>
            {% else %}
                <span class="lb-tile mono-tile">{{ item.label|slice:":2"|upper }}</span>
                <a href="{% url 'browse' %}?{{ stat.search_field }}={{ item.slug }}" class="lb-name">{{ item.label }}</a>
            {% endif %}
            <span class="lb-count">{{ item.value }}</span>
        </div>
        {% endfor %}
    </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script>$(document).ready(function () {});</script>
{% endblock %}
