{% load static %}
{% load thumbnail %}

<div class="card-body">
    <h4 class="card-title" >
        {{ title }}
    </h4>
    <ul class="list-group list-group-flush">
    {% for other_sys in systems %}
        {% if not limit or forloop.counter0 < limit %}
            <li class="list-group-item list-group-item-action">
                <a href="{{ other_sys.get_absolute_url }}" title="{{ other_sys.name }}">
            {% if other_sys.current.logo %}
                <img class="logo-recommendation" src="{% if other_sys.current.logo.url|lower|slice:"-3:" == "svg" %}{{ other_sys.current.logo.url }}{% else %}{{ other_sys.current.logo|thumbnail_url:'recommendation' }}{% endif %}"  alt="{{ other_sys.name }}" />
            {% else %}
                <img src="{% static 'core/images/database-nologo.svg' %}" alt="{{ other_sys.name }}" /> {{ other_sys.name }}
            {% endif %}
                </a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
    {% if limit and systems|length > limit %}
    <div class="card-footer text-muted p-1 font-weight-bold">
        <a href="{% url 'browse' %}?{{ field }}={{ slug }}">View All ({{ systems|length }})</a>
    </div>
    {% endif %}
</div>
