{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}
Edit {{ system.name }}
{% endblock %}


{% block css %}
<link rel="stylesheet" href="{% static 'lib/css/tagsinput.css' %}">
<style>
.md-textarea textarea { height:8em; resize:vertical; }
.multi-select select { font-size:0.85em; }
</style>
{% endblock %}


{% block content %}
    <h1 class="fw-bold order-first mb-3">
        {% if system.slug %}
        <a href="{% url 'system' system.slug %}">{{ system.name }}</a> > Edit
        {% else %}
        Add Database
        {% endif %}
    </h1>

    <form method="POST" enctype="multipart/form-data">

    {% bootstrap_form_errors system_form type='all' %}
    {% bootstrap_form_errors system_version_form type='all' %}
    {% bootstrap_form system_form %}

    <div class="row border-2 border-bottom">
        <div class="col-lg-6">
            {% bootstrap_field system_version_form.logo %}
        </div>
        <div class="col-lg-6">
            {% bootstrap_field system_version_form.tags form_group_class="form-group multi-select" %}
        </div>
    </div>

    <div class="row border-2 border-bottom pt-4">
        <div class="col-lg-6">
            {% bootstrap_field system_version_form.url %}
            {% bootstrap_field system_version_form.developer %}
            {% bootstrap_field system_version_form.source_url %}
            {% bootstrap_field system_version_form.tech_docs %}
            {% bootstrap_field system_version_form.wikipedia_url %}
            {% bootstrap_field system_version_form.twitter_handle placeholder='@account_name' %}
            {% bootstrap_field system_version_form.linkedin_handle placeholder='Without the URL' %}
        </div>

        <div class="col-lg-6">
            <div class="row">
                <div class="col-md-6">
                    {% bootstrap_field system_version_form.start_year %}
                </div>
                <div class="col-md-6">
                    {% bootstrap_field system_version_form.end_year %}
                </div>
            </div>

            {% bootstrap_field system_version_form.start_year_citations %}
            {% bootstrap_field system_version_form.end_year_citations %}

            <div class="row">
                <div class="col-md-6">
                    {% bootstrap_field system_version_form.former_names %}
                </div>
            </div>

            {% bootstrap_field system_version_form.acquired_by %}
            {% bootstrap_field system_version_form.acquired_by_citations %}

        </div>
    </div>

    <div class="row border-2 border-bottom pt-4">
        <div class="col-lg-6">
            {% bootstrap_field system_version_form.project_types form_group_class="form-group multi-select" %}
        </div>
        <div class="col-lg-6">
            {% bootstrap_field system_version_form.countries %}
        </div>
    </div>

    <div class="row border-2 border-bottom pt-4">
        <fieldset class="form-group col-lg-6">
            {% bootstrap_field system_version_form.description form_group_class="form-group md-textarea" %}
            {% bootstrap_field system_version_form.description_citations %}
        </fieldset>

        <fieldset class="form-group col-lg-6">
            {% bootstrap_field system_version_form.history form_group_class="form-group md-textarea" %}
            {% bootstrap_field system_version_form.history_citations %}
        </fieldset>
    </div>

    <div class="row border-2 border-bottom pt-4">
        <div class="col-md-3">
            {% bootstrap_field system_version_form.licenses form_group_class="form-group multi-select" %}
        </div>

        <div class="col-md-3">
            {% bootstrap_field system_version_form.oses form_group_class="form-group multi-select" %}
        </div>

        <div class="col-md-3">
            {% bootstrap_field system_version_form.supported_languages form_group_class="form-group multi-select" %}
        </div>

        <div class="col-md-3">
            {% bootstrap_field system_version_form.written_in form_group_class="form-group multi-select" %}
        </div>
    </div>

    <div class="row border-2 border-bottom pt-4">
        <div class="col-md-3">
            {% bootstrap_field system_version_form.derived_from form_group_class="form-group multi-select" %}
        </div>

        <div class="col-md-3">
            {% bootstrap_field system_version_form.embedded form_group_class="form-group multi-select" %}
        </div>

        <div class="col-md-3">
            {% bootstrap_field system_version_form.inspired_by form_group_class="form-group multi-select" %}
        </div>

        <div class="col-md-3">
            {% bootstrap_field system_version_form.compatible_with form_group_class="form-group multi-select" %}
        </div>
    </div>

    <div class="row border-2 border-bottom pt-4">
        <div class="col-md-6">
            {% bootstrap_field system_version_form.hosted_services form_group_class="form-group multi-select" %}
        </div>
    </div>

    <h2 class="pt-4">Features</h2>
    <div class="accordion" id="features">
        {% for featureset in features.values %}
        <div class="accordion-item" id="{{ featureset.id }}">
            <h2 class="accordion-header" id="{{ featureset.id }}_header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ featureset.id }}_body" aria-expanded="false" aria-controls="#{{ featureset.id }}_body">
                        {{ featureset.label }}
                    </button>
            </h2>
            <div id="{{ featureset.id }}_body" class="accordion-collapse collapse" aria-labelledby="{{ featureset.id }}_header" data-bs-parent="#features">
                <div class="accordion-body">
                    {% bootstrap_field featureset.system %}
                    {% bootstrap_field featureset.choices form_group_class="form-group multi-select" %}
                    {% bootstrap_field featureset.description form_group_class="form-group md-textarea" %}
                    {% bootstrap_field featureset.citations %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="col-md-3">
        <div class="sidebar sticky-top">
            <div class="buttons">
                <button type="submit" class="btn btn-primary" name="action" value="save">Save</button>
                <button type="submit" class="btn btn-default" name="action" value="cancel">Cancel</button>
            </div>

            <hr />

            <div class="form-group">
                <label for="id_comment">Revision Comment</label>
                <textarea name="comment" required rows="4" class="form-control" placeholder="Comment" title="This field support Markdown Syntax" id="id_comment"></textarea>
            </div>
        </div>
    </div>

{% csrf_token %}
</form>
{% endblock %}


{% block scripts %}
<script src="{% static 'lib/js/tagsinput.js' %}"></script>

<script>
    $(function(){
        $('textarea[data-role="tagsinput"]').tagsinput();
    });
    function toggleFields(featureName) {
            const systemSelect = document.getElementById('id_' + featureName + '_system');
            const choicesSelect = document.getElementById('id_' + featureName + '_choices');
            {#const descriptionTextarea = document.getElementById('id_' + featureName + '_description');#}

            if (systemSelect.value != '') {
                choicesSelect.disabled = true;
                {#descriptionTextarea.disabled = true;#}
            } else {
                choicesSelect.disabled = false;
                {#descriptionTextarea.disabled = false;#}
            }
        }
</script>
{% endblock %}
