{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load markdownify %}

{% block css %}
    <link href="{% static 'core/css/system.css' %}" rel="stylesheet">
{% endblock %}

{% block twitter %}
    <meta property="og:title" content="Database of Databases &mdash; {{ system.name }}" />
    <meta property="og:description" content="{{ system_version.description|truncatechars:300 }}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ system_version.twitter_card_url }}" />
    <meta name="twitter:title" content="Database of Databases &mdash; {{ system.name }}" />
    <meta name="twitter:description" content="{{ system_version.description|truncatechars:200 }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}{{ system_version.twitter_card_url }}" />
{% endblock %}

{% block content %}
    <div class="row">
        <!-- BEGIN: MAIN COL -->
        <div class="col-sm-12 col-md-8 order-2 order-md-1">
            {% if has_revision %}
                <div class="alert alert-info d-none d-md-block" style="line-height: 34px;" role="alert">
                    Viewing Revision #{{ system_version.ver }} from {{ system_version.created|date:"SHORT_DATETIME_FORMAT" }}
                    <a href="{{ system.get_absolute_url }}" class="btn btn-secondary btn-sm float-end ms-2" role="button" aria-pressed="true">View Current</a>
                    {% if not system_version.is_current and user.is_authenticated %}
                    <form class="form-inline d-inline" action="{% url 'system_revision' system.slug %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{ system_version.id }}" name="current_version">
                        <button type="submit" class="btn btn-primary btn-sm float-end ms-2">Set As Current</button>
                    </form>
                {% endif %}
                </div>
            {% endif %}
            {% if request.GET.noperms and request.GET.noperms == '1' %}
                <div class="alert alert-danger alert-dismissable alert-link">
                    <button class="close" type="button" data-dismiss="alert" aria-hidden="true">&#215;</button>
                    You do not have permission to edit this entry
                </div>
            {% endif %}

            <h1 class="fw-bold">{{ system.name }}</h1>
            {% if system_version.tags %}
                {% for tag in system_version.tags.all %}
                    <a class="badge badge-secondary" href="{% url 'browse' %}?tag={{ tag.slug }}">{{ tag.name }}</a>
                {% endfor %}
            {% endif %}
            <p>{{ system_version.description|markdownify }}</p>

            {% for sec in sections %}
                <div id="{{ sec.id }}" class="mb-4">
                    {% if sec.title %}
                        <h3 class="mb-0">
                            {{ sec.title }}
                            {% if sec.citations %}
                                {% for c in sec.citations %}
                                    <sup><a class="citation" href="#citation{{ c }}">[{{ c }}]</a></sup>
                                {% endfor %}
                            {% endif %}
                        </h3>
                    {% endif %}
                    {% if sec.options %}
                        {% for o in sec.options %}
                        <a class="badge bg-secondary" href="{% url 'browse' %}?{{ sec.id }}={{ o.slug }}">{{ o.value }}</a>
                        {% endfor %}
                    {% endif %}
                    {{ sec.body|markdownify }}
                </div>
            {% endfor %}

            {% if citations %}
            <h3>Citations</h3>
                <ol>
                    {% for c in citations %}
                        <li id="citation{{ forloop.counter }}"><a href="{{ c }}" target="_cite">{{ c }}</a></li>
                    {% endfor %}
                </ol>
            {% endif %}

            <div class="card card-version d-block d-md-none revision-card">
                <a href="{% url 'system_revision' system.slug %}" title="View All Revisions for {{ system.name }}">
                <div class="card-body">
                    Revision #{{ system_version.ver }}
                    &nbsp;|&nbsp;
                    <time datetime="{{ system_version.created|date:"c" }}">
                    Updated {{ system_version.created|date:"SHORT_DATETIME_FORMAT" }}
                    </time>
                </div>
                </a>
            </div>
        </div>

{#            {% if compatible %}#}
{#            <!-- START: COMPATIBLE -->#}
{#            <div class="card d-block d-md-none systems-extra" >#}
{#                {% include 'core/system-sys-sidebar.html' with title='Compatible Systems' systems=compatible limit=3 field='compatible' slug=system.slug %}#}
{#            </div>#}
{#            <!-- END: COMPATIBLE -->#}
{#            {% endif %}#}
{##}
{#            {% if derived %}#}
{#            <!-- START: DERIVED -->#}
{#            <div class="card d-block d-md-none systems-extra" >#}
{#                {% include 'core/system-sys-sidebar.html' with title='Derivative Systems' systems=derived limit=3 field='derived' slug=system.slug %}#}
{#            </div>#}
{#            <!-- END: DERIVED -->#}
{#            {% endif %}#}
{##}
{#            {% if embeds %}#}
{#            <!-- START: EMBEDS -->#}
{#            <div class="card d-block d-md-none systems-extra" >#}
{#                {% include 'core/system-sys-sidebar.html' with title='Embeddings' systems=embeds limit=3 field='embeds' slug=system.slug %}#}
{#            </div>#}
{#            <!-- END: DERIVED -->#}
{#            {% endif %}#}
{##}
{##}
{#            {% if recommendations %}#}
{#            <!-- START: RECOMMENDATIONS -->#}
{#            <div class="card d-block d-md-none systems-extra" >#}
{#                {% include 'core/system-sys-sidebar.html' with title='People Also Viewed' systems=recommendations %}#}
{#            </div>#}
{#            <!-- END: RECOMMENDATIONS -->#}
{#            {% endif %}#}

        <!-- END: MAIN BODY -->

        <!-- START: SIDEBAR -->
        <div class="col-sm-12 col-md-4 order-1 order-md-2 sidebar">
            {% if has_revision %}
            <div class="alert alert-info d-block d-md-none" style="line-height: 34px;" role="alert">
                <a href="{{ system.get_absolute_url }}" class="btn btn-secondary btn-sm float-right active" role="button" aria-pressed="true">View Current</a>
                Viewing Revision #{{ system_version.ver }} from {{ system_version.created|date:"SHORT_DATETIME_FORMAT" }}
            </div>
            {% endif %}

            <div class="border rounded bg-light p-4">
                {% if system_version.logo %}
                <div class="text-center mb-3 pb-3 border-bottom">
                    <a href="{{ system_version.logo.url }}"><img class="logo-thumbnail" src="{% if system_version.logo.url.lower|slice:"-3:" == "svg" %}{{ system_version.logo.url }}{% else %}{{ system_version.logo|thumbnail_url:'thumb' }}{% endif %}" style="border:none;" alt="{{ system.name }} Logo" title="{{ system.name }}"></a>
                </div>
                {% endif %}

                {% if system_version.url %}
                    <h5 class="fs-6">Website</h5>
                    <p><a href="{{ system_version.url }}">{{ system_version.url }}</a></p>
                {% endif %}

                {% if system_version.source_url %}
                    <h5 class="fs-6">Source Code</h5>
                    <p><a href="{{ system_version.source_url }}">{{ system_version.source_url }}</a></p>
                {% endif %}

                {% if system_version.tech_docs %}
                    <h5 class="fs-6">Tech Docs</h5>
                    <p><a href="{{ system_version.tech_docs }}">{{ system_version.tech_docs }}</a></p>
                {% endif %}

                {% if system_version.twitter_handle %}
                    <h5 class="fs-6">Twitter</h5>
                    <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16"> <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/></svg> <a target="twitter" href="{{ system_version.twitter_handle_url }}"> {{ system_version.twitter_handle }}</a></p>
                {% endif %}

                {% if system_version.developer %}
                    <h5 class="fs-6">Developer</h5>
                    <p>{{ system_version.developer }}</p>
                {% endif %}

                {% if system_version.countries %}
                <link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
                    <h5 class="fs-6">Country of Origin</h5>
                    <p>
                    {% for country in system_version.countries %}
                    {% if not forloop.first %}, {% endif %}
                    <a href="{% url 'browse' %}?country={{ country.code }}" title="View other systems from {{ country.name }}">
                        <i class="{{ country.flag_css }}"></i>
                        {{ country }}
                    </a>
                    {% endfor %}
                    </p>
                {% endif %}

                {% if system_version.start_year %}
                    <h5 class="fs-6">
                        Start Year
                        {% if start_year_citations %}
                            {% for c in start_year_citations %}
                                <sup><a class="citation" href="#citation{{ c }}">[{{ c }}]</a></sup>
                            {% endfor %}
                        {% endif %}
                    </h5>
                    <p>{{ system_version.start_year }}</p>
                {% endif %}

                {% if system_version.end_year %}
                    <h5 class="fs-6">
                        End Year
                        {% if end_year_citations %}
                            {% for c in end_year_citations %}
                                <sup><a class="citation" href="#citation{{ c }}">[{{ c }}]</a></sup>
                            {% endfor %}
                        {% endif %}
                    </h5>
                    <p>{{ system_version.end_year }}</p>
                {% endif %}

                {% if system_version.former_names %}
                    <h5 class="fs-6">Former Name</h5>
                    <p>{{ system_version.former_names }}</p>
                {% endif %}

                {% if system_version.acquired_by %}
                    <h5 class="fs-6">
                        Acquired By
                        {% if acquired_by_citations %}
                            {% for c in acquired_by_citations %}
                                <sup><a class="citation" href="#citation{{ c }}">[{{ c }}]</a></sup>
                            {% endfor %}
                        {% endif %}
                    </h5>
                    <p>{{ system_version.acquired_by }}</p>
                {% endif %}

                {% if system_version.project_types.exists %}
                    <h5 class="fs-6">Project Type</h5>
                    <p>
                        {% for project_type in system_version.project_types.all %}
                            {% if not forloop.first %}, {% endif %}
                            <a class="card-title" href="{% url 'browse' %}?type={{ project_type.slug }}" title="View other {{ project_type.name }} systems">{{ project_type.name }}</a>
                        {% endfor %}
                    </p>
                {% endif %}

                {% if system_version.meta.written_in.exists %}
                    <h5 class="fs-6">Written in</h5>
                    <p>
                        {% for written_in in system_version.meta.written_in.all %}
                            {% if not forloop.first %}, {% endif %}
                            <a class="card-title" href="{% url 'browse' %}?programming={{ written_in.slug }}" title="View other systems that are written in {{ written_in.name }}">{{ written_in.name }}</a>
                        {% endfor %}
                    </p>
                {% endif %}

                {% if system_version.meta.supported_languages.exists %}
                    <h5 class="fs-6">Supported languages</h5>
                    <p>
                    {% for lang in system_version.meta.supported_languages.all %}
                        {% if not forloop.first %}, {% endif %}
                        <a class="card-title" href="{% url 'browse' %}?supported={{ lang.slug }}" title="View other systems that support {{ lang.name }}">{{ lang.name }}</a>
                    {% endfor %}
                    </p>
                {% endif %}

                {% if system_version.meta.derived_from.exists %}
                    <h5 class="fs-6">Derived From</h5>
                    <p>
                        {% for other in system_version.meta.derived_from.all %}{% if not forloop.first %}, {% endif %}<a class="card-title" href="{% url 'browse' %}?derived={{ other.slug }}" title="View other systems derived from {{ other.name }}">{{ other.name }}</a>{% endfor %}
                    </p>
                {% endif %}

                {% if system_version.meta.embedded.exists %}
                    <h5 class="fs-6">Embeds / Uses</h5>
                    <p>
                        {% for other in system_version.meta.embedded.all %}
                            {% if not forloop.first %}, {% endif %}
                            <a class="card-title" href="{% url 'browse' %}?embeds={{ other.slug }}" title="View other systems that embed {{ other.name }}">{{ other.name }}</a>
                        {% endfor %}
                    </p>
                {% endif %}

                {% if system_version.meta.inspired_by.exists %}
                    <h5 class="fs-6">Inspired By</h5>
                    <p>
                        {% for other in system_version.meta.inspired_by.all %}
                            {% if not forloop.first %}, {% endif %}
                            <a class="card-title" href="{% url 'browse' %}?inspired={{ other.slug }}" title="View other systems inspired by {{ other.name }}">{{ other.name }}</a>
                        {% endfor %}
                    </p>
                {% endif %}

                {% if system_version.meta.compatible_with.exists %}
                    <h5 class="fs-6">Compatible With</h5>
                    <p>
                        {% for other in system_version.meta.compatible_with.all %}{% if not forloop.first %}, {% endif %}<a class="card-title" href="{% url 'browse' %}?compatible={{ other.slug }}" title="View other systems compatible with {{ other.name }}">{{ other.name }}</a>{% endfor %}
                    </p>
                {% endif %}

                {% if system_version.meta.oses.exists %}
                    <h5 class="fs-6">Operating Systems</h5>
                    <p>
                        {% for os in system_version.meta.oses.all %}{% if not forloop.first %}, {% endif %}<a class="card-title" href="{% url 'browse' %}?os={{ os.slug }}" title="View other systems that support {{ os.name }} systems">{{ os.name }}</a>{% endfor %}
                    </p>
                {% endif %}

                {% if system_version.meta.licenses.exists %}
                    <h5 class="fs-6">Licenses</h5>
                    <p>
                        {% for license in system_version.meta.licenses.all %}{% if not forloop.first %}, {% endif %}<a class="card-title" href="{% url 'browse' %}?license={{ license.slug }}" title="View other systems that use {{ license.name }}">{{ license.name }}</a>{% endfor %}
                    </p>
                {% endif %}

                {% if system_version.wikipedia_url %}
                    <h5 class="fs-6">Wikipedia</h5>
                    <p><a target="wikipedia" href="{{ system_version.wikipedia_url }}">{{ system_version.wikipedia_url }}</a></p>
                {% endif %}

            </div>
        </div>
        <!-- END: SIDEBAR -->

        <!-- BEGIN: RELATED SYSTEMS -->
        <div class="col-sm-12 col-md-4 order-3 order-md-3">
            {% if compatible %}
            <!-- START: COMPATIBLE -->
            <div class="card d-none d-md-block systems-extra" >
                {% include 'core/system-sys-sidebar.html' with title='Compatible Systems' systems=compatible limit=3 field='compatible' slug=system.slug %}
            </div>
            <!-- END: COMPATIBLE -->
            {% endif %}

            {% if derived %}
            <!-- START: DERIVED -->
            <div class="card d-none d-md-block systems-extra" >
                {% include 'core/system-sys-sidebar.html' with title='Derivative Systems' systems=derived limit=3 field='derived' slug=system.slug %}
            </div>
            <!-- END: DERIVED -->
            {% endif %}

            {% if embeds %}
            <!-- START: EMBEDS -->
            <div class="card d-none d-md-block systems-extra" >
                {% include 'core/system-sys-sidebar.html' with title='Embeddings' systems=embeds limit=3 field='embeds' slug=system.slug %}
            </div>
            <!-- END: DERIVED -->
            {% endif %}

            {% if recommendations %}
            <!-- START: RECOMMENDATIONS -->
            <div class="card d-none d-md-block systems-extra" >
                {% include 'core/system-sys-sidebar.html' with title='People Also Viewed' systems=recommendations %}
            </div>
            <!-- END: RECOMMENDATIONS -->
            {% endif %}
        </div>


{#            {% if system_version.meta.publications.exists %}#}
{#            <div class="card">#}
{#                <div class="card-body">#}
{#                    <h6 class="card-title">Publications</h6>#}
{#                    <p class="card-text">{{ system_version.meta.publications_str }}</p>#}
{#                </div>#}
{#            </div>#}
{#            {% endif %}#}
{##}
{#            <div class="card card-version d-none d-md-block revision-card">#}
{#                <a href="{% url 'system_revision' system.slug %}" title="View All Revisions for {{ system.name }}">#}
{#                <div class="card-body">#}
{#                    Revision #{{ system_version.ver }}#}
{#                    &nbsp;|&nbsp;#}
{#                    <time datetime="{{ system_version.created|date:"c" }}">#}
{#                    Updated {{ system_version.created|date:"SHORT_DATETIME_FORMAT" }}#}
{#                    </time>#}
{#                </div>#}
{#                </a>#}
{#            </div>#}
{#        </section>#}
        <!-- END: SIDEBAR -->

    </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'lib/js/bootstrap.bundle.js' %}"></script>

{% block system_script %}{% endblock %}
{% endblock %}
