{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block css %}
    <link href="{% static 'core/css/system.css' %}" rel="stylesheet">

    <meta property="og:site_name" content="Database of Databases" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{{ request.path }}" />
    <meta property="og:title" content="Database of Databases &mdash; {{ system.name }}" />
    <meta property="og:description" content="{{ system_version.description|truncatechars:300 }}" />{% if system_version.logo %}
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ system_version.logo.url }}" />{% endif %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="{{ request.scheme }}://{{ request.get_host }}{{ request.path }}" />
    <meta name="twitter:title" content="Database of Databases &mdash; {{ system.name }}" />
    <meta name="twitter:description" content="{{ system_version.description|truncatechars:200 }}" />{% if system_version.logo %}
    <meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}{{ system_version.logo.url }}" />{% endif %}
{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="row justify-content-md-center system-content">
    
        <!-- START: MAIN BODY -->
        <div class="col-sm-12 col-md-7 order-2 order-md-1">
            {% if has_revision %}
                <div class="alert alert-info" style="line-height: 34px;" role="alert">
                    <a href="{{ system.get_absolute_url }}" class="btn btn-secondary btn-sm float-right active" role="button" aria-pressed="true">View Current</a>
                    Viewing Revision #{{ system_version.ver }} from {{ system_version.created|date:"SHORT_DATETIME_FORMAT" }}
                </div>
            {% endif %}

            <div class="card has-citations">
                <div class="card-body">
                    <h2 class="card-title">
                        {{ system.name }}
                        <a href="javascript:;" class="citations"><i class="fas fa-info-circle" title="Citations"></i></a>
                    </h2>
                    <p class="card-text markdown-area">{{ system_version.description }}</p>
                    <cite class="hidden">
                        <ul>
                            {% for citation in system_version.description_citations.all %}
                            <li><a target="_blank" href="{{ citation.url }}">{{ citation.url }}</a></li>
                            {% endfor %}
                        </ul>
                    </cite>
                </div>
            </div>
            
            {% if system_version.history %}
            <div class="card has-citations">
                <div class="card-body">
                    <h4 class="card-title">
                        History
                        <a href="javascript:;" class="citations"><i class="fas fa-info-circle" title="Citations"></i></a>
                    </h4>
                    <p class="card-text markdown-area">{{ system_version.history }}</p>
                    <cite class="hidden">
                        <ul>
                            {% for citation in system_version.history_citations.all %}
                            <li><a target="_blank" href="{{ citation.url }}">{{ citation.url }}</a></li>
                            {% endfor %}
                        </ul>
                    </cite>
                </div>
            </div>
            {% endif %}
            
            {% for feature in system_features %}
            {% if feature.options.exists %}
            <div class="card card-feature has-citations">
                <div class="card-body">
                    <h4 class="card-title">
                        {{ feature.feature.label }}
                        <a href="javascript:;" class="citations"><i class="fas fa-info-circle" title="Citations"></i></a>
                    </h4>
                    <p class="card-text">
                        {% for v in feature.options.all %}
                        <a class="badge badge-info" href="{% url 'browse' %}?fg{{ v.feature_id }}={{ v.id }}">{{ v }}</a>
                        {% endfor %}
                    </p>
                    <p class="markdown-area">
                        {{ feature.description }}
                    </p>
                    <cite class="hidden">
                        <ul>
                            {% for citation in feature.citations.all %}
                            <li><a target="_blank" href="{{ citation.url }}">{{ citation.url }}</a></li>
                            {% endfor %}
                        </ul>
                    </cite>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            
            <div class="card card-version d-block d-md-none">
                <div class="card-body">
                    Revision #{{ system_version.ver }}
                    &nbsp;|&nbsp;
                    <time datetime="{{ system_version.created|date:"c" }}">
                    Updated {{ system_version.created|date:"SHORT_DATETIME_FORMAT" }}
                    </time>
                </div>
            </div>
        </div>
        <!-- END: MAIN BODY -->
        
        <!-- START: SIDEBAR -->
        <div class=" col-sm-12 col-md-3 order-1 order-md-2">
            {% if system_version.logo %}
            <div class="card">
                <div class="card-body text-center">
                    <a href="{{ system_version.logo.url }}"><img class="img-thumbnail" src="{{ system_version.logo|thumbnail_url:'thumb' }}" style="border:none;" alt="{{ system.name }} Logo" title="{{ system.name }}"></a>
                </div>
            </div>
            {% endif %}

            {% block extra_sidebar %}{% endblock %}

            <div class="card has-citations">
                <div class="card-body">
                {% if system_version.url %}
                    <h6 class="card-title">Website</h6>
                    <p class="card-text"><a href="{{ system_version.url }}">{{ system_version.url }}</a></p>
                {% endif %}
                {% if system_version.source_url %}
                    <h6 class="card-title">Source Code</h6>
                    <p class="card-text"><a href="{{ system_version.source_url }}">{{ system_version.source_url }}</a></p>
                {% endif %}
            
                {% if system_version.tech_docs %}
                    <h6 class="card-title">Tech Docs</h6>
                    <p class="card-text"><a href="{{ system_version.tech_docs }}">{{ system_version.tech_docs }}</a></p>
                {% endif %}
                
                {% if system_version.former_names %}
                    <h6 class="card-title">Former Name</h6>
                    <p class="card-text">{{ system_version.former_names }}</p>
                {% endif %}
            
                {% if system_version.developer %}
                    <h6 class="card-title">Developer</h6>
                    <p class="card-text">{{ system_version.developer }}</p>
                {% endif %}
            
                {% if system_version.countries %}
                <link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
                    <h6 class="card-title">Country of Origin</h6>
                    <p class="card-text">
                    {% for country in system_version.countries %}
                    {% if not forloop.first %}, {% endif %}
					<a href="{% url 'browse' %}?country={{ country.code }}" title="View other systems from {{ country.name }}">
						<i class="{{ country.flag_css }}"></i>
						{{ country }}
					</a>
					{% endfor %}
                    </p>
                {% endif %}
            
                {% if system_version.start_year %}
                    <h6 class="card-title">
                        Start Year
                        <a href="javascript:;" class="citations"><i class="fas fa-info-circle" title="Citations"></i></a>
                    </h6>
                    <p class="card-text">{{ system_version.start_year }}</p>
                    <cite class="hidden">
                        <ul>
                            {% for citation in system_version.start_year_citations.all %}
                            <li><a target="_blank" href="{{ citation.url }}">{{ citation.url }}</a></li>
                            {% endfor %}
                        </ul>
                    </cite>
                {% endif %}

                {% if system_version.end_year %}
                    <h6 class="card-title">
                        End Year
                        <a href="javascript:;" class="citations"><i class="fas fa-info-circle" title="Citations"></i></a>
                    </h6>
                    <p class="card-text">{{ system_version.end_year }}</p>
                    <cite class="hidden">
                        <ul>
                            {% for citation in system_version.end_year_citations.all %}
                            <li><a target="_blank" href="{{ citation.url }}">{{ citation.url }}</a></li>
                            {% endfor %}
                        </ul>
                    </cite>
                {% endif %}

                {% if system_version.acquired_by %}
                    <h6 class="card-title">
                        Acquired By
                        <a href="javascript:;" class="citations"><i class="fas fa-info-circle" title="Citations"></i></a>
                    </h6>
                    <p class="card-text">{{ system_version.acquired_by }}</p>
                    <cite class="hidden">
                        <ul>
                            {% for citation in system_version.acquired_by_citations.all %}
                            <li><a target="_blank" href="{{ citation.url }}">{{ citation.url }}</a></li>
                            {% endfor %}
                        </ul>
                    </cite>
                {% endif %}

                {% if system_version.project_types.exists %}
                    <h6 class="card-title">Project Type</h6>
                    <p class="card-text">{{ system_version.project_types_str }}</p>
                {% endif %}
            
                {% if system_version.meta.written_in.exists %}
                    <h6 class="card-title">Written in</h6>
                    <p class="card-text">{{ system_version.meta.written_in_str }}</p>
                {% endif %}
            
                {% if system_version.meta.supported_languages.exists %}
                    <h6 class="card-title">Supported languages</h6>
                    <p class="card-text">{{ system_version.meta.supported_languages_str }}</p>
                {% endif %}

                {% if system_version.meta.derived_from.exists %}
                    <h6 class="card-title">Derived From</h6>
                    <p class="card-text">
                        {% for other in system_version.meta.derived_from.all %}{% if not forloop.first %}, {% endif %}<a class="card-title" href="{% url 'browse' %}?derived={{ other.slug }}" title="View other systems derived from {{ other.name }}">{{ other.name }}</a>{% endfor %}
                    </p>
                {% endif %}
                
                {% if system_version.meta.inspired_by.exists %}
                    <h6 class="card-title">Inspired By</h6>
                    <p class="card-text">
                        {% for other in system_version.meta.inspired_by.all %}{% if not forloop.first %}, {% endif %}<a class="card-title" href="{% url 'browse' %}?inspired={{ other.slug }}" title="View other systems inspired by {{ other.name }}">{{ other.name }}</a>{% endfor %}
                    </p>
                {% endif %}
                
                {% if system_version.meta.compatible_with.exists %}
                    <h6 class="card-title">Compatible With</h6>
                    <p class="card-text">
                        {% for other in system_version.meta.compatible_with.all %}{% if not forloop.first %}, {% endif %}<a class="card-title" href="{% url 'browse' %}?compatible={{ other.slug }}" title="View other systems compatible with {{ other.name }}">{{ other.name }}</a>{% endfor %}
                    </p>
                {% endif %}
            
                {% if system_version.meta.oses.exists %}
                    <h6 class="card-title">Operating Systems</h6>
                    <p class="card-text">{{ system_version.meta.oses_str }}</p>
                {% endif %}
            
                {% if system_version.meta.licenses.exists %}
                    <h6 class="card-title">Licenses</h6>
                    <p class="card-text">{{ system_version.meta.licenses_str }}</p>
                {% endif %}
                
                {% if system_version.wikipedia_url %}
                    <h6 class="card-title">Wikipedia</h6>
                    <p class="card-text"><a target="wikipedia" href="{{ system_version.wikipedia_url }}">{{ system_version.wikipedia_url }}</a></p>
                {% endif %}
                
                </div>
            </div>
            
            {% if system_version.meta.publications.exists %}
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Publications</h6>
                    <p class="card-text">{{ system_version.meta.publications_str }}</p>
                </div>
            </div>
            {% endif %}
            
            <div class="card card-version d-none d-md-block">
                <div class="card-body">
                    Revision #{{ system_version.ver }}
                    &nbsp;|&nbsp;
                    <time datetime="{{ system_version.created|date:"c" }}">
                    Updated {{ system_version.created|date:"SHORT_DATETIME_FORMAT" }}
                    </time>
                </div>
            </div>

        </div>
        <!-- END: SIDEBAR -->
    
    </div>

</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'lib/js/markdown.min.js' %}"></script>
<script src="{% static 'lib/js/bootstrap.bundle.js' %}"></script>

{% block system_script %}{% endblock %}
{% endblock %}
