{% load static %}
{% load thumbnail %}
{% with logo=result.logo|thumbnail_url:'search' %}

<a class="card-title" href="{% url 'system' result.slug %}">
<div class="card text-center">
    <div class="card-header">
        {% if result.logo %}
        <img class="card-logo card-db-logo card-img-placeholder" src="{% static 'core/images/database-nologo.svg' %}" data-src="{% if result.logo.lower|slice:"-3:" == "svg" %}/media/{{ result.logo }}{% else %}{{ logo }}{% endif %}" alt="{{ result.name }}" />
        {% else %}
        <img class="card-logo card-default-logo" src="{% static 'core/images/database-nologo.svg' %}" alt="{{ result.name }}" />
        {% endif %}
    </div>
    <div class="card-body">
        <h5>{{ result.name }}</h5>
        <p class="card-text"><small class="text-muted">Last updated {{ result.created }}</small></p>
    </div>
</div>
</a>
{% endwith %}
