* {
  font-family: 'Open Sans', sans-serif;
}

body {
	font-size: 14px;
	font-family: "Roboto","Open Sans",sans-serif;
}
body > div.jumbotron { margin-bottom:0; }

nav.navbar-dark { background-color:#244A64; color: #fff; }
nav.navbar-dark .navbar-brand { margin-right: 2rem; }
nav.navbar-dark ul.navbar-nav > li.nav-item { margin-right:1rem; }
nav.navbar-dark ul.navbar-nav > li.nav-item a.btn { border:none;  border-bottom: solid 2px transparent; border-radius: 0; padding: .25rem 0.1rem; }
nav.navbar-dark ul.navbar-nav > li.nav-item a.btn:hover { background-color:transparent; border-bottom: solid 2px #fff;}

nav.navbar-dark form.form-search .btn { background-color: #49AA55; }

section#content { padding:30px 30px; }

footer {
	background-color: #292B33;
	color: #ffffff;
	padding: 30px 0;
}
footer .footer-text { text-align: center; }
footer .footer-text a { color: #62B855; }
footer .footer-text p { margin: 0; }

h6.card-title {
	font-weight: bold;
}

div.revision-footer {
	margin: auto;
	text-align: right;
	padding-top: 10px;
	color: #4F4F4F;
}

td.homepage-logo {
	width: 35%;
}
td.homepage-system {
	width: 65%;
	font-weight: bold;
	text-align: left;
}

.homepage-header h1 {
    font-weight: bold;
}
div.homepage-header {
    padding-top: 18px;
    padding-bottom: 18px;
}
div.main {
    padding-top: 1%;
}

.homepage-list {
	margin-right: 0px !important;
	margin-left: 0px !important;
}
.homepage-list td {
    vertical-align: middle;   
}

.letters button {
    font-size: 90%;
    font-weight: bold;
}


div.sidebar { background-color:#F8F8F8; border-radius:4px; padding:20px; }
div.sidebar .btn-primary { background-color:#417690; border-color:#417690; color:#ffffff; }
div.sidebar .btn-primary:hover { background-color:#205067; border-color:#205067; }
div.sidebar .btn-default { background-color:#79aec8; border-color:#79aec8; color:#ffffff;}
div.sidebar .btn-default:hover { background-color:#609AB6; border-color:#609AB6; }

.search-results div.card {
    padding-top: 8px;
}
.search-results img.no-logo {
    max-height: 125px;
    max-width: 125px;
}

@media screen and (max-width: 760px) {
    .homepage-header h1 {
        font-size: 250%;
    }
    .navbar-brand {
        font-size: 110%;
    }
    .footer-text {
        font-size: 85%;
    }
}
