* {
  font-family: 'Open Sans', sans-serif;
}

body {
	font-size: 14px;
	font-family: "Roboto","Open Sans",sans-serif;
}
body > div.jumbotron { margin-bottom:0; }

nav.navbar-dark { background-color:#244A64; color: #fff; }
nav.navbar-dark .navbar-brand { margin-right: 2rem; }
nav.navbar-dark ul.navbar-nav > li.nav-item { margin-right:1rem; }
nav.navbar-dark ul.navbar-nav > li.nav-item a.btn { border:none;  border-bottom: solid 2px transparent; border-radius: 0; padding: .25rem 0.1rem; }
nav.navbar-dark ul.navbar-nav > li.nav-item a.btn:hover { background-color:transparent; border-bottom: solid 2px #fff;}

nav.navbar-dark form.form-search .btn { background-color: #49AA55; }

section#content { padding:30px 30px; }

footer {
	background-color: #292B33;
	color: #ffffff;
	padding: 30px 0;
}
footer .footer-text { text-align: center; }
footer .footer-text a { color: #62B855; }
footer .footer-text p { margin: 0; }

h6.card-title {
	font-weight: bold;
}

div.revision-footer {
	margin: auto;
	text-align: right;
	padding-top: 10px;
	color: #4F4F4F;
}

td.homepage-logo {
	width: 35%;
}

td.homepage-system {
	width: 65%;
	font-weight: bold;
	text-align: left;
}

.homepage-header h1 {
    font-weight: bold;
}
div.homepage-header {
    padding-top: 18px;
    padding-bottom: 18px;
}
div.main {
    padding-top: 1%;
}

.homepage-list {
	margin-right: 0px !important;
	margin-left: 0px !important;
}
.homepage-list td {
    vertical-align: middle;   
}
.homepage-list a {
    display:block;
    width:100%;
}

.letters button {
    font-size: 90%;
    font-weight: bold;
}

.stat-label > a {
    display:block;
    width:100%;
}


/* LOGOS */
img.logo-thumbnail {
    min-width: 200px;
    max-width: 300px;
    max-height: 250px;
}
img.logo-search {
/*    min-width: 200px;
    max-width: 200px;
    max-height: 200px;*/
}
img.logo-homepage {
    min-width: 100px;
    max-width: 100px;
    max-height: 60px;
}
img.logo-stats {
/*     min-width: 60px; */
    max-width: 60px;
    max-height: 40px;
}
img.logo-recent {
    min-width: 40px;
    max-width: 40px;
    max-height: 40px;
}
img.logo-recommendation {
    min-width: 100px;
    max-width: 200px;
    max-height: 50px;
/*     object-fit: scale-down; */
}



div.sidebar { background-color:#F8F8F8; border-radius:4px; padding:20px; }
div.sidebar .btn-primary { background-color:#417690; border-color:#417690; color:#ffffff; }
div.sidebar .btn-primary:hover { background-color:#205067; border-color:#205067; }
div.sidebar .btn-default { background-color:#79aec8; border-color:#79aec8; color:#ffffff;}
div.sidebar .btn-default:hover { background-color:#609AB6; border-color:#609AB6; }

.search-results div.card { padding: 8px; }
.search-results div.card:hover { background-color: #ffff99; }
.search-results div.card .card-header { padding: 20px 0 0 0; background-color: transparent; border-bottom:none; }

.search-results div.card img.card-logo {
    max-height: 125px;
    max-width: 300px;
/*     min-width: 80%; */
}
.search-results div.card img.card-db-logo {
/*     object-fit: scale-down; */
/*   object-fit: cover; */
}
.search-results div .card img.card-default-logo,
.search-results div.card img.card-img-placeholder {
    height: 100px;
    max-height: 200px;
    max-width: 100%;
}

.search-results .card-title h5 {
    font-weight: bold;
}


#filtered_content { align-content: stretch; align-items: stretch; display: flex; }
#filtered_content > section.filters { background-color: #E9ECEF; padding: 10px; width: 400px; }
#filtered_content > section.filters > h2 { color: #767676; font-size: 18px; margin-bottom: 20px; }
#filtered_content > section.filters > div.filter-group { margin-top: 10px; }
#filtered_content > section.filters > div.filter-group > h3 { color: #000000; font-size: 14px; font-weight: bold; margin-bottom: 5px; }
#filtered_content > section.filters > div.filter-group > h3 > a { font-size: 12px; font-weight: normal; display: none; }
#filtered_content > section.filters > div.filter-group > h3 > a:hover { text-decoration:none; }
#filtered_content > section.filters > div.filter-group > h3:hover > a { display: inline; }
#filtered_content > section.filters > div.filter-group > ul { list-style-type: none; margin: 5px 0 0 5px; padding: 0; }
#filtered_content > section.filters > div.filter-group > ul > li { font-size: 12px; padding: 1px 0; }
#filtered_content > section.filters > div.filter-group > ul > li.more { display:none; }
#filtered_content > section.filters > div.filter-group > ul > li > label { display:inline; margin:0; }
#filtered_content > section.content { background-color: #FFFFFF; flex-grow: 1; padding: 30px 30px; }
#filtered_content > section.content p.empty { font-size:2.0em; margin-top:100px; text-align:center; }
#filtered_content > section.content div.version { margin-bottom:20px; max-width:800px; }
#filtered_content > section.content div.version h3 { font-size:20px; margin:0; }
#filtered_content > section.content div.version cite { color:#006621; font-size:13px; font-style:normal; }
#filtered_content > section.content div.version p { margin:0; }


form.main-search { align-content: stretch; align-items: stretch; display: flex; padding:0; }
form.main-search > div.filters { background-color: #E9ECEF; padding: 10px; width: 400px; }
form.main-search > div.filters > h2 { color: #767676; font-size: 18px; margin-bottom: 20px; }
form.main-search > div.filters > div.filter-group { margin-top: 10px; min-width: 300px; }
form.main-search > div.filters > div.filter-group > h3 { color: #000000; font-size: 14px; font-weight: bold; margin-bottom: 5px; }
form.main-search > div.filters > div.filter-group > h3 > a { font-size: 12px; font-weight: normal; display: none; }
form.main-search > div.filters > div.filter-group > h3 > a:hover { text-decoration:none; }
form.main-search > div.filters > div.filter-group > h3:hover > a { display: inline; }
form.main-search > div.filters > div.filter-group > ul { list-style-type: none; margin: 5px 0 0 5px; padding: 0; }
form.main-search > div.filters > div.filter-group > ul > li { font-size: 12px; padding: 1px 0; }
form.main-search > div.filters > div.filter-group > ul > li.more { display:none; }
form.main-search > div.filters > div.filter-group > ul > li > label { display:inline; margin:0; }
form.main-search > div.search-results { flex-grow:1; padding:0px 30px; }
form.main-search > div.search-results div.input-group-lg { margin:40px auto 40px auto; width:80%; }
form.main-search > div.search-results div.input-group-lg button.btn { border: 1px solid #ced4da; border-left:none; font-size: 1.25rem; line-height: 1.5; border-radius: 0px 0.3rem 0.3rem 0px; padding: .5rem 1rem; }
form.main-search > div.search-results p.results-info { font-size: 1.75rem; margin:30px 0; text-align:center; }
form.main-search > div.search-results nav.letters { margin:30px 0 30px 0; }
form.main-search > div.search-results nav.letters .btn { padding: .2rem .6rem; }

@media (max-width: 768px) {
	form.main-search > div.filters { display:none; }
}


nav.letters > div.letters button {
    margin-top: 5px;
}

.revision-card a {
    color: white;
}


@media screen and (max-width: 760px) {
    .homepage-header h1 {
        font-size: 250%;
    }
    .navbar-brand {
        font-size: 110%;
    }
    .footer-text {
        font-size: 85%;
    }
    section#content { 
        padding: 10px 10px;
    }
    section#filters {
        font-size: 85%;
    }
    table {
        font-size: 75%;
    }
}
