.markdown-area > h1 {
    font-size: 1.7em;
}
.markdown-area > h2 {
    font-size: 1.5em;
}
.markdown-area > h3 {
    font-size: 1.3em;
}

div.card h2 a { font-size: 16px; }
div.card h4 a { font-size: 16px; }

div.popover { max-width: 600px; }
div.popover .popover-body ul { font-size: 12px; padding: 0px 20px; margin:10px 0; }

cite.hidden { display:none; }

div.col-md-3 div.card h6.card-title { margin-bottom: .15rem; }

div.system-content div.card-version { background-color:#292B33; color:#eee; }
div.system-content div.card-version div.card-body { font-size: 12px; padding: .75rem 1.25rem; text-align:center; }
