
* {
  font-family: 'Open Sans', sans-serif;
}

.main-content {
  margin-bottom: 100px;
}

.version-info {
  font-weight: 100;
  margin-left: 15px;
  text-align: right;
}

.hidden {
  display: none;
}

#title-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

#db-title {
  color: #101010;
  font-size: 200%;
  font-weight: 700;
}

.header-text {
  color: #101010;
  font-weight: 600;
}

#db-description {
  color: #3a3a3a;
  font-weight: 400;
}

#metadata-area {
  background-color: #f9f9f9;
  padding: 30px;
}

.metadata-row {
  margin-bottom: 20px;
  position: relative;
}

.check-img {
  width: 2.3em;
}

.yesno-row {
  margin-top: 10px;
}

.subsection-heading {
  font-size: 135%;
  font-weight: 700;
}

.yesno-title {
  font-size: 135%;
  font-weight: 700;
  margin-left: 15px;
}

.yesno-description {
  margin-top: 10px;
  margin-left: 15px;
  padding-left: 35px;
  padding-bottom: 15px;
  border-left: 1px solid black;
  position: relative;
}

.description-description {
  margin-top: 10px;
  padding-bottom: 15px;
  position: relative;
}

.selection-item {
  background-color: #d9d9d9;
  padding-left: 5px;
  border-radius: 5px;
  margin-right: 10px;
}

.citation-row {
  margin-top: 30px;
}

.citation {
  margin-top: 15px;
}
