.container {
  width: 70%;
}

.metadata-row:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.citation-cross {
  padding: 2px;
  border-radius: 5px;
}

.citation-cross:hover {
  background-color: #FFB2B2;
  cursor: pointer;
}

.citation-cross:active {
  background-color: #d9534f;
}

.add-citation-btn {
  width: 100%;
  text-align: left;
  background-image: none;
  border-color: white;
  background-color: white;
  color: black;
  box-shadow: none;
}

.add-citation-btn:hover {
  background-color: #eee;
  color: black;
  border-color:  white;
  box-shadow: none;
}

#spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

