
.letter-title {
  font-size: 150%;
  font-weight: 800;
  padding: 10px;
}

.letter-area {
  padding: 10px;
}

.db-name-area {
  font-weight: 100;
  font-size: 125%;
}

.db-name-area::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

.db-name-area::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(100,189,90,.25);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.search-check {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #292B33;
  font-weight: 100;
  font-size: 120%;
}

.cover-up {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #292B33;
  z-index: 999999999;
}

.outside-row {
  padding-bottom: 40px;
  padding-top: 25px;
}

.inside-row {
  padding-top: 20px;
}

.search-title {
  text-align: center;
  font-weight: 800;
  font-size: 360%;
  margin-bottom: 10px;
  color: rgba(100,189,90);
}

.no-results-title {
  text-align: center;
  font-weight: 800;
  font-size: 360%;
  margin-bottom: 10px;
  color: #292B33;
}

.words-area {
  -webkit-column-count: 4; /* Chrome, Safari, Opera */
  -moz-column-count: 4; /* Firefox */
  column-count: 4;
}

@media (max-width: 480px) {
  .words-area {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}
}

.field-text {
  margin-left: 10px;
}

.advanced-results-row {
  background-color: #292B33;
}

.field-selector:hover {
  cursor: pointer;
}