* {
  font-family: 'Open Sans', sans-serif;
}

html, body {
  overflow-x: hidden;
}

.ui-autocomplete {
  height: 250px;
  overflow: auto;
  width: 175px !important;
  background-color: white;
}

.ui-menu-item:hover {
  background-color: #64BD5A;
  border: none;
  color: white;
}

.green-text {
  color: #64BD5A;
}

.check-img.green-check {
  width: 30px;
  content: url(/static/images/green-check.png);
}

.check-img.grey-check {
  width: 30px;
  content: url(/static/images/black-cross.png);
}

.check-img.question-check {
  width: 30px;
  content: url(/static/images/question-check.png);
}