
.homepage-top-row {
  background-color: #292B33;
  margin-top: -40px;
  padding-bottom: 75px;
  color: #AFAFAA;
}

.homepage-title {
  text-align: center;
  font-weight: 800;
  font-size: 360%;
  margin-top: 75px;
  margin-bottom: 10px;
  color: white;
}

.homepage-subtitle {
  text-align: center;
  font-weight: 100;
  font-size: 200%;
}

.homepage-searchbar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  padding: 17px 38px;
  width: 60%;
  font-size: 144%;
  border-radius: 15px;
  outline: none;
  border-width: 10px;
  border-style: solid;
  border-color: #AFAFAA;
  color: black;
}

.homepage-searchbar:focus {
  border-color: #64BD5A;
  border-radius: 100px;
}

.ui-autocomplete {
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 25% !important;
  height: 250px;
  overflow: auto;
  width: 50% !important;
  background-color: white;
}

.ui-menu-item {
  font-size: 150%;
  padding: 20px 30px !important;
}

.ui-menu-item:hover {
  background-color: #64BD5A;
  border: none;
  color: white;
}

.homepage-section {
  padding: 40px;
}

.homepage-section-title {
  text-align: center;
  font-weight: 800;
  font-size: 250%;
  margin: 10px 0
}

.homepage-section-title.white {
  color: white;
}

.homepage-section-subtitle {
  text-align: center;
  font-weight: 100;
  font-size: 125%;
  margin-bottom: 15px;
}

.homepage-section-subtitle.grey {
  color: #AFAFAA;
}

.ranking-row:hover {
  cursor: pointer;
  background-color: #EFEFEA;
}

.as-button {
  text-align: center;
  font-size: 200%;
  font-weight: 100;
  margin-top: 20px;
  color: #3366BB;
}

.as-button.active {
  text-align: center;
  font-weight: 800;
  font-size: 360%;
  margin-bottom: 10px;
  color: #64BD5A;
}

.as-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.as-button:active {
  color: #0645AD;
}

.checkbox-inline {
  display: table;
  float: left;
  width: 25%;
  padding: initial;
  margin: 0 !important;
}

.squaredOne {
  float: left;
}

.check-label {
  display: table-cell;
  vertical-align: middle;
}

.revision-row {
  padding: 15px;
}

.revision-date {
  font-weight: 100;
  font-size: 110%;
}

.revision-metadata {
  font-weight: 800;
  font-size: 120%;
  margin-bottom: 10px;
}

.about-row {
  background-color: #292B33;
  color: white;
}

.activity-row {
  padding-top: 20px;
  padding-bottom: 30px;
}



