<html>
{% load staticfiles %}

  <head>

    <title>{% block title %}Databaseology{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static 'images/favicon.ico' %}" rel="icon" type="image/x-icon" />

    <!-- Loading CSS libraries -->
    <link href="{% static 'css/libs/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/libs/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/libs/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

    <link href="{% static 'css/base.css' %}" rel="stylesheet">

    {% block css %}{% endblock %}

  </head>

  <body>

    <!-- Global Header -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Databaseology</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="header-link"><a href="/advancedsearch">Search</a></li>
            <li class="header-link"><a href="/suggestsystem">Suggest New System</a></li>
          </ul>
          {% block searchbar %}
          <ul class="nav navbar-nav navbar-right">
            <form class="navbar-form navbar-left" id = "header-searchbar" role="search">
              <div class="form-group">
                <input type="text" class="form-control header-searchbar-input" placeholder="Search">
              </div>
            </form>
          </ul>
          {% endblock %}
        </div>
      </div>
    </nav>

    {% block body %}{% endblock %}

    <!-- create dummy nodes to store name of databases for autocomplete widget -->
    {% for db in databases %}
      <div class = "database-name" data-name = "{{ db }}"></div>
    {% endfor %}

    {% for lang in languages %}
      <div class = "language-name" data-name = "{{ lang }}"></div>
    {% endfor %}

    {% for os in oses %}
      <div class = "os-name" data-name = "{{ os }}"></div>
    {% endfor %}

    <div class="footer">
      <div class="footer-text">Copyright © 2009 · All Rights Reserved · Databaseology</div>
    </div>

    <!-- Loading Javascript libraries -->
    <script src="{% static 'js/libs/jquery.js' %}"></script>
    <script src="{% static 'js/libs/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/libs/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/headernav.js' %}"></script>
    <script src="{% static 'js/libs/spin.js' %}"></script>

    <script>
      $(document).ready(function() {
        // load database names into autcomplete widget for navbar search
        var db_names = []
        var os_names = []
        var lang_names = []
        var all_names = []
        var fields = []
        // retreieve names from the dummy html divs
        $(".database-name").each(function(index) {
          var name = $(this).attr("data-name")
          db_names.push(name);
          all_names.push({
            label: name,
            link: "/db/" + name
          });
          $(this).remove(); // remove to lessen size of page being loaded
        })

        $(".language-name").each(function(index) {
          var name = $(this).attr("data-name")
          lang_names.push(name);
          all_names.push({
            label: name,
            link: "/search/support_lang/" + name
          });
          $(this).remove(); // remove to lessen size of page being loaded
        })

        $(".os-name").each(function(index) {
          var name = $(this).attr("data-name")
          os_names.push(name);
          all_names.push({
            label: name,
            link: "/search/os/" + name
          });
          $(this).remove(); // remove to lessen size of page being loaded
        })

        $(".header-searchbar-input").autocomplete({
          source: all_names,
          formatItem: function(item) {
            return item.label;
          },
          select: function(event, ui) {
            location.href = ui.item.link;
          }
        });

        // fields = {{ system_fields }}
        // var ordered_db_data = {{ ordered_dbs_list }};
      });
    </script>

    {% block js %}{% endblock %}
  </body>

</html>