{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}

  <div class="row">    
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body" id = "sign-up-content">
          <form action="/createdb/" class="col-md-4 col-sm-8 col-xs-12 col-md-offset-4 col-sm-offset-2" method="post" id="sign-up-form">
            <div class = "form-group">
              <label>Database Name</label>
              <input name="name" type="text" class="form-control signup-input" placeholder="Enter the name of the DB" autocomplete="off"/>
            </div>
            <button class="btn btn-default" type="submit">Create it!</button>
           </form>
        </div>
      </div>
    </div><!--/col-12-->
  </div>

{% endblock %}