{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Editing {{ db.name }} - Databaseology{% endblock %}


{% block css %}
  <link href="{% static 'css/db_page.css' %}" rel="stylesheet">
  <link href="{% static 'css/db_page_edit.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="row">
  <!-- outer page wrapper -->
  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 main-content">

    <!-- title and description row -->
    <div class="row" id="title-row">
      <div class="col-md-12">
        <div class="row">
          <div id = "db-title" class="col-md-10 col-xs-12">
            {{ db.name }}
            <button class="btn btn-default save-button" style="display:none;">
              Save!
            </button>
            <input class="form-control edited version-message-input" data-type="version_message" style="display:none;" placeholder="Enter your version message!"></input>
          </div>
          <div class="revision-button-area col-md-2 col-xs-12">
            <button class="btn btn-default revision-button" data-url="/db/{{db.name}}/{{key}}/revisions">
              View Revision History
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- features row -->
    <div class="row">
      <!-- yes/no feature area -->
      <div class="col-md-6 col-xs-12">

        <div class="subsection-heading">DESCRIPTION</div>
        <div class="description-description db-description" id="db-description" data-type="description">
          {{ db.description }}
        </div>
        <div class="description-raw" style="display:none;">
            {{db.description_raw}}
        </div>
        <div class="subsection-heading">HISTORY</div>
        <div class="description-description db-description" id="db-description" data-type="history">
          {{ db.history }}
        </div>
        <div class="description-raw" style="display:none;">
            {{db.history_raw}}
        </div>

        <div class="yesno-row">
          <div class="yesno-title-area">
            {% if db.support_sql == None%}
              <img class = "check-img question-check">
            {% elif db.support_sql %}
              <img class = "check-img green-check">
            {% else %}
              <img class = "check-img grey-check">
            {% endif %}
            <span class="yesno-title">SQL</span>
          </div>
          {% if db.support_sql %}
            <div class="yesno-description" data-type="sql" data-exists="1">
              {{ db.description_sql }}
            </div>
          {% else %}
            <div class="yesno-description" data-type="sql" data-exists="0">
            </div>
          {% endif %}
          <div class="yesno-description-raw" style="display:none;">
            {{db.description_sql_raw}}
          </div>
        </div>

        <div class="yesno-row">
          <div class="yesno-title-area">
            {% if db.support_foreignkeys == None%}
              <img class = "check-img question-check">
            {% elif db.support_foreignkeys %}
              <img class = "check-img green-check">
            {% else %}
              <img class = "check-img grey-check">
            {% endif %}
            <span class="yesno-title">FOREIGN KEYS</span>
          </div>
          {% if db.support_foreignkeys %}
            <div class="yesno-description" data-type="foreignkeys" data-exists="1">
              {{ db.description_foreignkeys }}
            </div>
          {% else %}
            <div class="yesno-description" data-type="foreignkeys" data-exists="0">
            </div>
          {% endif %}
          <div class="yesno-description-raw" style="display:none;">
            {{db.description_foreignkeys_raw}}
          </div>
        </div>

        <div class="yesno-row">
          <div class="yesno-title-area">
            {% if db.support_serverside == None%}
              <img class = "check-img question-check">
            {% elif db.support_serverside %}
              <img class = "check-img green-check">
            {% else %}
              <img class = "check-img grey-check">
            {% endif %}
            <span class="yesno-title">SERVER-SIDE</span>
          </div>
          {% if db.support_serverside %}
            <div class="yesno-description" data-type="serverside" data-exists="1">
              {{ db.description_serverside }}
            </div>
          {% else %}
            <div class="yesno-description" data-type="serverside" data-exists="0">
            </div>
          {% endif %}
          <div class="yesno-description-raw" style="display:none;">
            {{db.description_serverside_raw}}
          </div>
        </div>

        <div class="yesno-row">
          <div class="yesno-title-area">
            {% if db.support_mapreduce == None%}
              <img class = "check-img question-check">
            {% elif db.support_mapreduce %}
              <img class = "check-img green-check">
            {% else %}
              <img class = "check-img grey-check">
            {% endif %}
            <span class="yesno-title">MAPREDUCE</span>
          </div>
          {% if db.support_mapreduce %}
            <div class="yesno-description" data-type="mapreduce" data-exists="1">
              {{ db.description_mapreduce }}
            </div>
          {% else %}
            <div class="yesno-description" data-type="mapreduce" data-exists="0">
            </div>
          {% endif %}
          <div class="yesno-description-raw" style="display:none;">
            {{db.description_mapreduce_raw}}
          </div>
        </div>

        <div class="yesno-row">
          <div class="yesno-title-area">
            {% if db.support_secondary == None%}
              <img class = "check-img question-check">
            {% elif db.support_secondary %}
              <img class = "check-img green-check">
            {% else %}
              <img class = "check-img grey-check">
            {% endif %}
            <span class="yesno-title">SECONDARY INDEXES</span>
          </div>
          {% if db.support_secondary %}
            <div class="yesno-description" data-type="secondary" data-exists="1">
              {{ db.description_secondary }}
            </div>
          {% else %}
            <div class="yesno-description" data-type="secondary" data-exists="0">
            </div>
          {% endif %}
          <div class="yesno-description-raw" style="display:none;">
            {{db.description_secondary_raw}}
          </div>
        </div>

        <div class="yesno-row">
          <div class="yesno-title-area">
            {% if db.support_durability == None%}
              <img class = "check-img question-check">
            {% elif db.support_durability %}
              <img class = "check-img green-check">
            {% else %}
              <img class = "check-img grey-check">
            {% endif %}
            <span class="yesno-title">DURABILITY</span>
          </div>
          {% if db.support_durability %}
            <div class="yesno-description" data-type="durability" data-exists="1">
              {{ db.description_durability }}
            </div>
          {% else %}
            <div class="yesno-description" data-type="durability" data-exists="0">
            </div>
          {% endif %}
          <div class="yesno-description-raw" style="display:none;">
            {{db.description_durability_raw}}
          </div>
        </div>

        <div class="yesno-row">
          <div class="yesno-title-area">
            {% if db.support_triggers == None%}
              <img class = "check-img question-check">
            {% elif db.support_triggers %}
              <img class = "check-img green-check">
            {% else %}
              <img class = "check-img grey-check">
            {% endif %}
            <span class="yesno-title">TRIGGERS</span>
          </div>
          {% if db.support_triggers %}
            <div class="yesno-description" data-type="triggers" data-exists="1">
              {{ db.description_triggers }}
            </div>
          {% else %}
            <div class="yesno-description" data-type="triggers" data-exists="0">
            </div>
          {% endif %}
          <div class="yesno-description-raw" style="display:none;">
            {{db.description_triggers_raw}}
          </div>
        </div>

        <div class="yesno-row">
          <div class="yesno-title-area">
            {% if db.support_concurrency == None%}
              <img class = "check-img question-check">
            {% elif db.support_concurrency %}
              <img class = "check-img green-check">
            {% else %}
              <img class = "check-img grey-check">
            {% endif %}
            <span class="yesno-title">CONCURRENCY</span>
          </div>
          {% if db.support_concurrency %}
            <div class="yesno-description" data-type="concurrency" data-exists="1">
              {{ db.description_concurrency }}
            </div>
          {% else %}
            <div class="yesno-description" data-type="concurrency" data-exists="0">
            </div>
          {% endif %}
          <div class="yesno-description-raw" style="display:none;">
            {{db.description_concurrency_raw}}
          </div>
        </div>

        <div class="yesno-row">
          <div class="yesno-title-area">
            {% if db.support_userconcepts == None %}
              <img class = "check-img question-check">
            {% elif db.support_userconcepts %}
              <img class = "check-img green-check">
            {% else %}
              <img class = "check-img grey-check">
            {% endif %}
            <span class="yesno-title">USER-CONCEPTS</span>
          </div>
          {% if db.support_userconcepts %}
            <div class="yesno-description" data-type="userconcepts" data-exists="1">
              {{ db.description_userconcepts }}
            </div>
          {% else %}
            <div class="yesno-description" data-type="userconcepts" data-exists="0">
            </div>
          {% endif %}
          <div class="yesno-description-raw" style="display:none;">
            {{db.description_userconcepts_raw}}
          </div>
        </div>

        <div class="yesno-row">
          <div class="yesno-title-area">
            {% if db.support_datashceme == None %}
              <img class = "check-img question-check">
            {% elif db.support_datascheme %}
              <img class = "check-img green-check">
            {% else %}
              <img class = "check-img grey-check">
            {% endif %}
            <span class="yesno-title">DATA SCHEME</span>
          </div>
          {% if db.support_datascheme %}
            <div class="yesno-description" data-type="datascheme" data-exists="1">
              {{ db.description_datascheme }}
            </div>
          {% else %}
            <div class="yesno-description" data-type="datascheme" data-exists="0">
            </div>
          {% endif %}
          <div class="yesno-description-raw" style="display:none;">
            {{db.description_datascheme_raw}}
          </div>
        </div>

        <div class="yesno-row">
          <div class="yesno-title-area">
            {% if db.support_xml == None %}
              <img class = "check-img question-check">
            {% elif db.support_xml %}
              <img class = "check-img green-check">
            {% else %}
              <img class = "check-img grey-check">
            {% endif %}
            <span class="yesno-title">XML</span>
          </div>
          {% if db.support_xml %}
            <div class="yesno-description" data-type="xml" data-exists="1">
              {{ db.description_xml }}
            </div>
          {% else %}
            <div class="yesno-description" data-type="xml" data-exists="0">
            </div>
          {% endif %}
          <div class="yesno-description-raw" style="display:none;">
            {{db.description_xml_raw}}
          </div>
        </div>

        <div class="yesno-row">
          <div class="yesno-title-area">
            {% if db.support_typing == None %}
              <img class = "check-img question-check">
            {% elif db.support_typing %}
              <img class = "check-img green-check">
            {% else %}
              <img class = "check-img grey-check">
            {% endif %}
            <span class="yesno-title">TYPING</span>
          </div>
          {% if db.support_typing %}
            <div class="yesno-description" data-type="typing" data-exists="1">
              {{ db.description_typing }}
            </div>
          {% else %}
            <div class="yesno-description" data-type="typing" data-exists="0">
            </div>
          {% endif %}
          <div class="yesno-description-raw" style="display:none;">
            {{db.description_typing_raw}}
          </div>
        </div>

        <div class="yesno-row">
          <div class="yesno-title-area">
            {% if db.support_transactionconcepts == None %}
              <img class = "check-img question-check">
            {% elif db.support_transactionconcepts %}
              <img class = "check-img green-check">
            {% else %}
              <img class = "check-img grey-check">
            {% endif %}
            <span class="yesno-title">TRANSACTION CONCEPTS</span>
          </div>
          {% if db.support_transactionconcepts %}
            <div class="yesno-description" data-type="transactionconcepts" data-exists="1">
              {{ db.description_transactionconcepts }}
            </div>
          {% else %}
            <div class="yesno-description" data-type="transactionconcepts" data-exists="0">
            </div>
          {% endif %}
          <div class="yesno-description-raw" style="display:none;">
            {{db.description_transationconcepts_raw}}
          </div>
        </div>

      </div>

      <!-- metadata area -->
      <div class="col-md-6 col-xs-12" id="metadata-area">
        <div class="metadata-row">
          <span class="header-text">Website: </span><span class="metadata-data" data-type="website">{{ db.website }}</span>
        </div>
        <div class="metadata-row">
          <span class="header-text">Developer: </span><span class="metadata-data" data-type="developer">{{ db.developer }}</span>
        </div>
        <div class="metadata-row">
          <span class="header-text">Start Date: </span><span class="metadata-data" data-type="start_year">{{ db.start_year }}</span>
        </div>
        <div class="metadata-row">
          <span class="header-text">End Date: </span><span class="metadata-data" data-type="end_year">{{ db.end_year }}</span>
        </div>
        <div class="metadata-row">
          <span class="header-text">Written in: </span><span class="metadata-data selection" data-type="written_in">
            {% for lang in db.written_in %}
              <span class="selection-item written_in-section">
                {{ lang }}
                <span class="fa fa-times selection-close"></span>
              </span>
            {% endfor %}
          </span>
          <select multiple class="form-control choices-selection">
            {% for lang in languages %}
              {% if lang not in db.written_in %}
                <option class="selection-option">{{ lang }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="metadata-row">
          <span class="header-text">OSes: </span><span class="metadata-data selection" data-type="oses">
            {% for os in db.oses %}
              <span class="selection-item oses-section">
                {{ os }}
                <span class="fa fa-times selection-close"></span>
              </span>
            {% endfor %}
          </span>
          <select multiple class="form-control choices-selection">
            {% for os in oses %}
              {% if os not in db.oses %}
                <option class="selection-option">{{ os }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="metadata-row">
          <span class="header-text">Project Type: </span><span class="metadata-data" data-type="project_type">{{ db.project_type }}</span>
        </div>
        <div class="metadata-row">
          <span class="header-text">Derived From: </span><span class="metadata-data" data-type="derived_from">{{ db.derived_From }}</span>
        </div>
        <div class="metadata-row">
          <span class="header-text">Support Language: </span><span class="metadata-data selection" data-type="support_languages">
            {% for lang in db.support_languages %}
              <span class="selection-item support_languages-section">
                {{ lang }}
                <span class="fa fa-times selection-close"></span>
              </span>
            {% endfor %}
          </span>
          <select multiple class="form-control choices-selection">
            {% for lang in languages %}
              {% if land not in db.support_languages %}
                <option class="selection-option">{{ lang }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
    </div>

  </div><!--/col-12-->
</div>

{% endblock %}

{% block js %}

<script src="{% static 'js/database_edit.js' %}"></script>

{% endblock %}

