{% extends 'base.html' %}
{% load staticfiles %}

{% load bootstrap4 %}

{% block title %}
    Home
{% endblock %}
{% block content %}
<div class="jumbotron">
    <div class="row justify-content-md-center">
        <div class="col col-10 text-center">
            <h1 class="display-3">Advanced Search</h1>
            <form action="." method="POST" >
                {% csrf_token %}
                <div class="row">
                    {% for input in form %}
                    <div class="form-group col-md-3">
                        {% bootstrap_field input %}
                    </div>
                    {% endfor %}
                </div>
                    <p class="lead">
                        <button class="btn btn-primary btn-lg" type="submit" role="button">Search</button>
                    </p>

            </form>
        </div>
    </div>
</div>
{% endblock %}