{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block content %}
    <div class="jumbotron">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <form action="." method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form system_version_metadata_form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            Next
                        </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}