{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block title %}
    Edit Database
{% endblock %}
{% block css %}
    <link href="{% static 'lib/css/bootstrap-markdown-editor.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="jumbotron">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <form action="." method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form system_form %}
                    {% bootstrap_form system_version_form %}
                    {% bootstrap_form system_version_metadata_form %}
                    {% bootstrap_form feature_form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
<script src="{% static 'lib/js/bootstrap-markdown-editor.js' %}"></script>
    <script>

            $(document).ready(function($) {

                $('.markdown').each(function(){
                    $(this).markdownEditor({
                        preview: true,
                        onPreview: function (content, callback) {
                            callback( marked(content) );
                        }
                    });
                });

            });

        </script>
{% endblock %}