{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Home
{% endblock %}
{% block content %}
    <div class="jumbotron">
        <div class="row justify-content-md-center">
            <div class="col col-8 text-center">
                <h1 class="display-3">Database of Databases</h1>
                <p class="lead">Discover and learn about <b>all</b> the databases</p>
                <form action="{% url 'search' %}" method="GET" >
                    <div class="form-group">
                        <input type="text" name="q" class="form-control form-control-lg" id="search" aria-describedby="Search field" placeholder="Begin searching!">
                    </div>
                    <p class="lead">
                        <a class="btn btn-link btn-lg" href="{% url 'advanced_search' %}" role="button">Advanced Search</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <h3>Most Edited</h3>
            <table class="table table-hover">
                <thead>
                <th>Rank</th>
                <th>Database</th>
                <th>Versions</th>
                </thead>
                <tbody>
                    {% for item in most_edited %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></td>
                            <td>{{ item.systemversion__count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="col-md-4 text-center">
            <h3>Most Recent</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Database</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in most_recent %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4 text-center">
            <h3>Most Views</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Database</th>
                        <th>View count</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in most_views %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></td>
                        <td>{{ item.view_count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}