{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Home
{% endblock %}
{% block content %}
    <div class="jumbotron">
        <div class="row justify-content-md-center">
            <div class="col-md-10">
                {% if systems %}
                <h3>Results for "{{ query }}"</h3>
                {% else %}
                <h3>No results found for "{{ query }}"</h3>
                {% endif %}
                {% for system in systems %}
                    <div class="card">
                <div class="card-body">
                    <a class="card-title" href="{% url 'system' system.slug %}"><h5>{{  system.name }}</h5></a>
                    <p class="card-text">{{ system.current.description }}</p>
                </div>
            </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            {% for system in systems %}
                <div class="col-md-3">
                    <a href="{{ system.get_absolute_url }}">{{ system.name }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}