{% extends 'core/system_base.html' %}
{% load staticfiles %}

{% block navbuttons %}
    {% if user.is_authenticated %}
        <li class="nav-item active ml-2">
            <a class="nav-link btn btn-outline-secondary" href="{% url "system_edit" system.slug %}">Edit</a>
        </li>
    {% endif %}
        <li class="nav-item active ml-2">
            <a class="nav-link btn btn-outline-secondary" href="{% url "system_revision" system.slug %}">Revision List</a>
        </li>
{% endblock %}
{% block title %}
    {{ system.name }}
{% endblock %}
{% block system_script %}
    <script src="{% static 'core/js/system.js' %}"></script>
{% endblock %}
{% block extra_sidebar %}
<div class="card">
    <div class="card-body">
            Last Updated: {{ system_version.created|date:"SHORT_DATETIME_FORMAT" }}
    </div>
</div>
{% endblock %}