{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block content %}
    <div class="jumbotron">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <h2>{{ system.name }}</h2>
                <p>{{ system.created }}</p>
                <p>{{ system_version.description }}</p>
                <p>{{ system_version.website }}</p>
                <p>{{ system_version.tech_docs }}</p>
                <p>{{ system_version.developer }}</p>
                <p>{{ system_version.start_year }}</p>
                <p>{{ system_version.end_year }}</p>
            </div>
        </div>
    </div>
{% endblock %}