{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Databaseology - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'core/images/favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">

    {% block css %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{%  url "home" %}">Database of Databases</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated and user.is_superuser %}
                <li class="nav-item active">
                    <a class="nav-link btn btn-outline-secondary" href="{% url "create_database" %}">Create Database</a>
                </li>
            {% endif %}
        </ul>
        {% if request.resolver_match.url_name != "home" %}
            <form action="{% url 'search' %}" method="GET" class="form-inline my-2 my-lg-0 mr-4">
                <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" value="{{ query }}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        {% endif %}
        <ul class="navbar-nav my-2 my-lg-0 mr-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if user.is_authenticated %}
                        {{ user.username }}
                    {% else %}
                        Accounts
                    {% endif %}
                </a>
                {% if user.is_authenticated %}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Profile</a>
                        {% if user.is_staff %}
                            <a class="dropdown-item" href="{% url "admin:index" %}">Admin</a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url "logout" %}">Logout</a>
                    </div>
                {% else %}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url "login" %}">Login</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url "create_user" %}">Create Account</a>
                    </div>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>

{% block content %}
{% endblock %}

<footer>
    <div class="footer">
        <div class="footer-text">
            <p>Copyright © {% now "Y" %} &bullet;
                <a href="http://db.cs.cmu.edu">Carnegie Mellon Database Group</a>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
{% block scripts %}
{% endblock %}
</body>
</html>