* {
  font-family: 'Open Sans', sans-serif;
}

.footer {
    padding: 20px;
    border-top-color: black;
    border-top-width: 1px;
    border-top-style: solid;
}

.footer-text {
  text-align: center;
}

h6.card-title {
    font-weight: bold;
}

div.revision-footer {
    margin: auto;
    text-align: right;
    padding-top: 10px;
    color: #4F4F4F;
}

td.homepage-logo {
    width: 35%;
}
td.homepage-system {
    width: 65%;
    font-weight: bold;
    text-align: left;
}
.homepage-list {
    margin-right: 0px !important;
    margin-left: 0px !important;
}