
<div class="row d-flex align-items-center footer-text">
    <div class="col-md-7 col-lg-8">
        <p class="text-sm-center text-md-start">
            Copyright &copy; {% now "Y" %}
            &bullet;
            <a target="_blank" href="https://db.cs.cmu.edu">Carnegie Mellon Database Group</a>
        </p>
    </div>
    <div class="col-md-5 col-lg-4">
        <div class="text-sm-center text-md-end footer-text">
            <a href="mailto:mail@dbdb.io" class="btn-floating btn-sm rgba-white-slight p-2"><i class="fa fa-envelope"></i> Contact</a>
            <a href="https://github.com/cmu-db/dbdb.io" class="btn-floating btn-sm p-2"><i class="fab fa-github"></i> Github</a>
        </div>
    </div>
</div>