{% load static %}
<div class="container">
    <div class="d-flex align-items-center justify-content-between flex-wrap gap-3">
        <span class="copy">
            Copyright &copy; {% now "Y" %} &bullet;
            <a target="_blank" href="https://db.cs.cmu.edu">Carnegie Mellon Database Group</a>
        </span>
        <div class="footer-links">
            <a href="mailto:mail@dbdb.io"><i class="fa fa-envelope"></i> Contact</a>
            <a href="https://github.com/cmu-db/dbdb.io"><i class="fab fa-github"></i> Github</a>
        </div>
    </div>
</div>
