<nav class="navbar fixed-top navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="{%  url 'home' %}">Database of Databases</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link {% if activate == 'browse' %} active{% endif %}" href="{% url 'browse' %}">Browse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if activate == 'stats' %} active{% endif %}" href="{% url 'stats' %}">Leaderboards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if activate == 'recent' %} active{% endif %}" href="{% url 'recent' %}">Recent</a>
                </li>
<!--                {% if system %}-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link {% if activate == 'revisions' %} active{% endif %}" href="{% url 'system_revision' slug=system.slug %}">Revision List</a>-->
<!--                </li>-->
<!--                {% endif %}-->
                {% block navbuttons %}{% endblock %}
            </ul>
            {% if not no_nav_search %}
            <form class="d-flex" role="search" action="{% url 'browse' %}" method="GET" id="topsearch">
                <input type="search" class="form-control me-2" placeholder="Search" aria-label="Search" id="top-searchbox" name="q" value="{% if query %}{{ query }}{% endif %}">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search"></i>
                </button>
{#                <button class="btn btn-outline-success" type="submit">Search</button>#}
{#                    <div class="input-group-append">#}
{#                    </div>#}
{#                </div>#}
            </form>
            {% endif %}

            <ul class="navbar-nav my-2 my-lg-0 ms-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if user.is_authenticated %}
                        {{ user.username }}
                        {% else %}
                        Accounts
                        {% endif %}
                    </a>

                    {% if user.is_authenticated %}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Profile</a>

                        {% if user.is_superuser %}
                        <a class="dropdown-item {% if activate == 'create' %} active{% endif %}" href="{% url 'create_database' %}">Create</a>
                        {% endif %}
                        {% if user.is_superuser or user.is_staff %}
                        <a class="dropdown-item {% if activate == 'empty' %} active{% endif %}" href="{% url 'empty_fields' %}">EmptyFields</a>
                        {% endif %}

                        {% if user.is_staff %}
                        <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
                        {% endif %}

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    </div>
                    {% else %}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url "login" %}">Login</a>
                        <!-- <div class="dropdown-divider"></div> -->
                        <!-- <a class="dropdown-item" href="{% url "create_user" %}">Create Account</a> -->
                    </div>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
