{% extends 'base.html' %}

{% load staticfiles %}

{% block body %}
    <h2>About</h2>
    
    <!-- PROJECT OVERVIEW -->
    <section id="info">
        <p>To be written...
    </section>
    <!-- END PROJECT OVERVIEW -->

    <!-- PEOPLE -->
    <section id="people">
        <h3>People</h3>
        
        <!-- ACTIVE PEOPLE -->
        <div class="row text-center people">
            <div class="col-xs-4">
                <a href=""><img src="{{STATIC_URL}}img/people/.jpg" alt="Oluwafemi Olukoya"/><BR/>Oluwafemi Olukoya</a>
                <br /><em>Carnegie Mellon University</em>
            </div>
            <div class="col-xs-4">
                <a href="http://www.cs.cmu.edu/~jarulraj/"><img src="{{STATIC_URL}}img/people/danavanaken.jpg" alt="Joy Arulraj"/><br />Joy Arulraj</a>
                <br /><em>Carnegie Mellon University</em>
            </div>
            <div class="col-xs-4">
                <a href="http://www.cs.cmu.edu/~pavlo/"><img src="{{STATIC_URL}}img/people/andypavlo.jpg" alt="Andy Pavlo" /><br />Andy Pavlo</a>
                <br /><em>Carnegie Mellon University</em>
            </div>
        </div>
        
        <!-- ALUMNI -->
        <h4>Alumni</h4>
        <ul>
            <li><a href="https://www.linkedin.com/in/scout4talent">Rohan Varma</a> <em>(Carnegie Mellon University)</em></li>
        </ul>
    </section>
    <!-- END PEOPLE -->
    
    <!-- ACKNOWLEDGEMENTS -->
    <section id="ack">
        <h3>Acknowledgements</h3>
        This research was funded (in part) by 
        <BR/>
    </section>
    <!-- END ACKNOWLEDGEMENTS -->
 
{% endblock %}