<html>
{% load staticfiles %}

  <head>

    <title>{% block title %}Databaseology{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static 'images/favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />

    <!-- Loading CSS libraries -->
    <link href="{% static 'css/libs/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/libs/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/libs/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

    <link href="{% static 'css/base.css' %}" rel="stylesheet">

    {% block css %}
    {% endblock %}

  </head>

  <body>

    <!-- Global Header -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Databaseology</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="header-link"><a href="/advancedsearch">Advanced Search</a></li>
            <li class="header-link"><a href="/suggest">Suggest New System</a></li>
            <li class="header-link"><a href="/about">About</a></li>
          </ul>
          {% block searchbar %}
          <ul class="nav navbar-nav navbar-right">
            <form class="navbar-form navbar-left" id="header-searchbar" role="search">
              <div class="form-group">
                <input type="text" class="form-control header-searchbar-input" placeholder="Search">
              </div>
            </form>
          </ul>
          {% endblock %}
        </div>
      </div>
    </nav>

    {% block body %}{% endblock %}

    <!-- create dummy nodes to store name of databases for autocomplete widget -->
    {% for db in databases %}
      <div class = "database-name" data-name = "{{ db.name }}" link-name = "{{ db.slug }}"></div>
    {% endfor %}

    {% for lang in languages %}
      <div class = "language-name" data-name = "{{ lang.name }}" link-name = "{{ lang.slug }}"></div>
    {% endfor %}

    {% for os in oses %}
      <div class = "os-name" data-name = "{{ os.name }}" link-name = "{{ os.slug }}"></div>
    {% endfor %}

    <footer>
        <div class="footer">
            <div class="footer-text">
<!--                 <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>. -->
            
                <p>Copyright © {% now "Y" %} &bullet;
                <a href="http://db.cs.cmu.edu">Carnegie Mellon Database Group</a>
            </div>
        </div>
    </footer>

    <!-- Loading Javascript libraries -->
    <script src="{% static 'js/libs/jquery.js' %}"></script>
    <script src="{% static 'js/libs/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/libs/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/headernav.js' %}"></script>
    <script src="{% static 'js/libs/spin.js' %}"></script>

    {% block js %}{% endblock %}
  </body>

</html>
