{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Editing {{ db.name }} - Databaseology{% endblock %}


{% block css %}
  <link href="{% static 'css/db_page.css' %}" rel="stylesheet">
  <link href="{% static 'css/db_page_edit.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="row">
  <!-- outer page wrapper -->
  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 main-content">

    <!-- title and description row -->
    <div class="row" id="title-row">
      <div class="col-md-12">
        <div class="row">
          <div id = "db-title" class="col-md-10 col-xs-12">
            {{ db.name }}
            <button class="btn btn-default save-button" style="display:none;">
              Save!
            </button>
            <input class="form-control edited version-message-input" data-type="version_message" style="display:none;" placeholder="Enter your version message!"></input>
          </div>
          <div class="revision-button-area col-md-2 col-xs-12">
            <button class="btn btn-default revision-button" data-url="/db/{{db.name}}/{{key}}/revisions">
              View Revision History
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- features row -->
    <div class="row">
      <!-- yes/no feature area -->
      <div class="col-md-6 col-xs-12">

        <div class="subsection-heading">DESCRIPTION</div>
        <div class="description-description db-description" id="db-description" data-type="description">
          {{ db.description }}
        </div>
        <div class="description-raw" style="display:none;">
            {{ db.description_raw }}
        </div>
        <div class="subsection-heading">HISTORY</div>
        <div class="description-description db-description" id="db-description" data-type="history">
          {{ db.history }}
        </div>
        <div class="description-raw" style="display:none;">
            {{ db.history_raw }}
        </div>

        {% for feature in db_version.get_features %}
          <div class="yesno-row">

            <div class="yesno-title-area">
              {% if feature.is_supported == None %}
                <img class = "check-img question-check">
              {% elif feature.is_supported %}
                <img class = "check-img green-check">
              {% else %}
                <img class = "check-img grey-check">
              {% endif %}
              <span class="yesno-title">{{ feature.label }}</span>
            </div>

            {% if feature.is_supported and feature.multivalued %}
              {% for feature_option in feature.feature_options %}
                {{ feature_option.value }}
                <div class="yesno-description" data-type="{{ feature.label }}" data-exists="1">
                  {{ feature_option.description }}
                </div>
                <div class="yesno-description-raw" style="display:none;">
                  {{ feature_option.description_raw }}
                </div>
              {% endfor %}
            {% elif feature.is_supported and not feature.multivalued %}
              {{ feature.feature_options.0.value }}
              <div class="yesno-description" data-type="{{ feature.label }}" data-exists="1">
                {{ feature.feature_options.0.description }}
              </div>
              <div class="yesno-description-raw" style="display:none;">
                {{ feature.feature_options.0.description_raw }}
              </div>
            {% else %}
              <div class="yesno-description" data-type="{{ feature.label }}" data-exists="0"></div>
              <div class="yesno-description-raw" style="display:none;">
                {{ feature.feature_options.0.description_raw }}
              </div>
            {% endif %}

          </div>
        {% endfor %}

      </div>

      <!-- metadata area -->
      <div class="col-md-6 col-xs-12" id="metadata-area">
        <div class="metadata-row">
          <span class="header-text">Website: </span><span class="metadata-data" data-type="website">{{ db.website }}</span>
        </div>
        <div class="metadata-row">
          <span class="header-text">Developer: </span><span class="metadata-data" data-type="developer">{{ db.developer }}</span>
        </div>
        <div class="metadata-row">
          <span class="header-text">Start Date: </span><span class="metadata-data" data-type="start_year">{{ db.start_year }}</span>
        </div>
        <div class="metadata-row">
          <span class="header-text">End Date: </span><span class="metadata-data" data-type="end_year">{{ db.end_year }}</span>
        </div>
        <div class="metadata-row">
          <span class="header-text">Written in: </span><span class="metadata-data selection" data-type="written_in">
            {% for lang in db.written_in %}
              <span class="selection-item written_in-section">
                {{ lang }}
                <span class="fa fa-times selection-close"></span>
              </span>
            {% endfor %}
          </span>
          <select multiple class="form-control choices-selection">
            {% for lang in languages %}
              {% if lang not in db.written_in %}
                <option class="selection-option">{{ lang }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="metadata-row">
          <span class="header-text">OSes: </span><span class="metadata-data selection" data-type="oses">
            {% for os in db.oses %}
              <span class="selection-item oses-section">
                {{ os }}
                <span class="fa fa-times selection-close"></span>
              </span>
            {% endfor %}
          </span>
          <select multiple class="form-control choices-selection">
            {% for os in oses %}
              {% if os not in db.oses %}
                <option class="selection-option">{{ os }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="metadata-row">
          <span class="header-text">Project Type: </span><span class="metadata-data" data-type="project_type">{{ db.project_type }}</span>
        </div>
        <div class="metadata-row">
          <span class="header-text">Derived From: </span><span class="metadata-data" data-type="derived_from">{{ db.derived_From }}</span>
        </div>
        <div class="metadata-row">
          <span class="header-text">Support Language: </span><span class="metadata-data selection" data-type="support_languages">
            {% for lang in db.support_languages %}
              <span class="selection-item support_languages-section">
                {{ lang }}
                <span class="fa fa-times selection-close"></span>
              </span>
            {% endfor %}
          </span>
          <select multiple class="form-control choices-selection">
            {% for lang in languages %}
              {% if land not in db.support_languages %}
                <option class="selection-option">{{ lang }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
    </div>

    <div class="row citation-row">
      <div class="col-md-12">
        <div class="citations-header subsection-heading">
          Citations
        </div>
        <div class="citations-area">
          {% for pub in db.pubs %}
            <div class="citation">
              {% if pub.link %}
                [{{ pub.number }}] <a href="{{pub.link}}">{{ pub.cite }}</a>
              {% else %}
                [{{ pub.number }}] {{ pub.cite }}
              {% endif %}
            </div>
          {% endfor %}
        </div>
        <div class="add-citations-area">
          <div class="num-citations" style="display:none;" data-num="{{db.num_pubs}}"></div>
          <div class="db-name" style="display:none;" data-name="{{db.name}}"></div>
          <button type="button" class="btn btn-primary btn-lg add-citation-btn" data-toggle="modal" data-target="#addCitation">
            <i class="fa fa-plus" style="margin-right:15px;"></i> Add a citation
          </button>
          <div class="modal fade" id="addCitation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Create and Add Citation</h4>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Authors</label>
                    <input type="text" name ="authors" class="form-control" id="authors" placeholder="Last, First M...">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Title of Publication</label>
                    <input type="text" name="title" class="form-control" id="title" placeholder="Title">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Journal</label>
                    <input type="text" name="journal" class="form-control" id="journal" placeholder="Journal published in">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Volume</label>
                    <input type="text" class="form-control" id="volume" placeholder="Journal Volume">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Year</label>
                    <input type="text" class="form-control" id="year" placeholder="Year of publication">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Pages</label>
                    <input type="text" class="form-control" id="pages" placeholder="xx-yy">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Download URL</label>
                    <input type="text" class="form-control" id="download-url" placeholder="http://download.this.paper.com">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default add-citation-done-btn" data-dismiss="modal">Add</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div><!--/col-12-->
</div>

{% endblock %}

{% block js %}

<script src="{% static 'js/database_edit.js' %}"></script>

{% endblock %}
