{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Editing {{ db.name }} - Databaseology{% endblock %}


{% block css %}
  <link href="{% static 'css/libs/bootstrap-select.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/libs/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/libs/bootstrap-markdown.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/db_page.css' %}" rel="stylesheet">
  <link href="{% static 'css/db_page_edit.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

  <i id="spinner"></i>

  <button type="submit" class="btn btn-default" form="editForm">
    Save!
  </button>

  <div class="container">
    <form id="editForm" action="/db/{{ db.slug }}/{{ key }}" method="post">
      {% csrf_token %}
      <div class="form-group">
        {% for field in intro_form %}
          <div>
            {{ field.label_tag }}
            {% render_field field data-provide='markdown' rows='6' %}
          </div>
        {% endfor %}
      </div>
      <div class="form-group">
        {% for field in hidden_form %}
          <div>
            {% render_field field data-provide='markdown' rows='6' %}
          </div>
        {% endfor %}
      </div>
      <div class="form-group">
        {% for field in metadata_form %}
          <div>
            {{ field.label_tag }}
            {% render_field field class='selectpicker' data-live-search='true' data-size='10' %}
          </div>
        {% endfor %}
      </div>
      <div class="form-group">
        {% for field in features_form %}
          <div>
            {{ field.label_tag }}
            {% if 'support_' in field.label_tag %}
              {% render_field field class='custom-control-input' %}
            {% elif 'options_' in field.label_tag %}
              {% render_field field class='selectpicker' data-live-search='true' data-size='10' %}
            {% else %}
              {% render_field field data-provide='markdown' rows='6' %}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </form>
    <div class="row citation-row">
      <div class="col-md-12">
        <div class="citations-header subsection-heading">
          Citations
        </div>
        <div class="citations-area">
          {% for pub in db.pubs %}
            <div class="citation" data-num="{{ pub.number }}">
                [{{ pub.number }}] <a href="{{ pub.link }}">{{ pub.cite }}</a>
                <span class="citation-cross"><i class="fa fa-times"></i></span>
            </div>
          {% endfor %}
        </div>
        <div class="add-citations-area">
          <div class="num-citations" style="display:none;" data-num="{{ db.last_pub }}"></div>
          <div class="db-name" style="display:none;" data-name="{{ db.name }}"></div>
          <button type="button" class="btn btn-primary btn-lg add-citation-btn" data-toggle="modal" data-target="#addCitation">
            <i class="fa fa-plus" style="margin-right:15px;"></i> Add a citation
          </button>
          <div class="modal fade" id="addCitation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Create and Add Citation</h4>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label>Authors</label>
                    <input type="text" class="form-control" id="authors" placeholder="Last, First M...">
                  </div>
                  <div class="form-group">
                    <label>Title of Publication</label>
                    <input type="text" class="form-control" id="title" placeholder="Title">
                  </div>
                  <div class="form-group">
                    <label>Journal</label>
                    <input type="text" class="form-control" id="journal" placeholder="Journal published in">
                  </div>
                  <div class="form-group">
                    <label>Volume</label>
                    <input type="text" class="form-control" id="volume" placeholder="Journal Volume">
                  </div>
                  <div class="form-group">
                    <label>Year</label>
                    <input type="text" class="form-control" id="year" placeholder="Year of publication">
                  </div>
                  <div class="form-group">
                    <label>Pages</label>
                    <input type="text" class="form-control" id="pages" placeholder="xx-yy">
                  </div>
                  <div class="form-group">
                    <label>Download URL</label>
                    <input type="text" class="form-control" id="link" placeholder="http://download.this.paper.com">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default add-citation-done-btn" data-dismiss="modal">Add</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block js %}

  <script src="{% static 'js/libs/spin.js' %}"></script>
  <script src="{% static 'js/libs/markdown.min.js' %}"></script>
  <script src="{% static 'js/libs/to-markdown.js' %}"></script>
  <script src="{% static 'js/libs/bootstrap-markdown.js' %}"></script>
  <script src="{% static 'js/libs/bootstrap-select.js' %}"></script>
  <script src="{% static 'js/database_edit.js' %}"></script>

{% endblock %}
