{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Databaseology - {{ db.name }}{% endblock %}

{% block css %}
  <link href="{% static 'css/db_page.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="row">
  <!-- outer page wrapper -->
  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 main-content">

    <!-- title and description row -->
    <div class="row" id="title-row">
      <div class="col-md-12">
        <div class="row">
          <div id = "db-title" class = "col-md-10 col-xs-12">
            {{ db.name }}
          </div>
          <div class="revision-button-area col-md-2 col-xs-12">
            <button class="btn btn-default revision-button" data-url="/db/{{db.name}}/revisions">
              View Revision History
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 version-info">
            Last Updated: {{ db.created }}
          </div>
        </div>
      </div>
    </div>

    <!-- features row -->
    <div class="row">
      <!-- yes/no feature area -->
      <div class="col-md-8 col-xs-12">

        <div class="subsection-heading">DESCRIPTION</div>
        <div id = "db-description" class="description-description">
          {{ db.x_description_rendered | safe }}
        </div>
        <div class="subsection-heading">HISTORY</div>
        <div id = "db-history" class="description-description">
          {{ db.x_history_rendered | safe }}
        </div>

<!-- Begin features section -->
        {% for feature in db_version.get_features %}
          <div class="yesno-row">

            <div class="yesno-title-area">
              {% if feature.is_supported == None %}
                <img class = "check-img question-check">
              {% elif feature.is_supported %}
                <img class = "check-img green-check">
              {% else %}
                <img class = "check-img grey-check">
              {% endif %}
              <span class="yesno-title">{{ feature.label }}</span>
            </div>

            {% if feature.is_supported %}
              {% for feature_option in feature.feature_options %}
                {{ feature_option.value }}
              {% endfor %}
              <div class="yesno-description" data-type="{{ feature.label }}" data-exists="1">
                {{ feature.description | safe }}
              </div>
            {% else %}
              <div class="yesno-description" data-type="{{ feature.label }}" data-exists="0"></div>
            {% endif %}

          </div>
        {% endfor %}
<!-- End features section -->
      </div>

      <!-- metadata area -->
      <div class="col-md-4 col-xs-12" id="metadata-area">
        <div class="metadata-row">
          <span class="header-text">Website: </span><span class="metadata-data" data-type="website"><a href="{{ db.website }}">{{db.website}}</a></span>
        </div>
        <div class="metadata-row">
          <span class="header-text">Developer: </span><span class="metadata-data" data-type="developer">{{ db.developer }}</span>
        </div>
        <div class="metadata-row">
          <span class="header-text">Start Date: </span><span class="metadata-data" data-type="start_year">{{ db.start_year }}</span>
        </div>
        <div class="metadata-row">
          <span class="header-text">End Date: </span><span class="metadata-data" data-type="end_year">{{ db.end_year }}</span>
        </div>
        <div class="metadata-row">
          <span class="header-text">Written in: </span>
          <span class="metadata-data" data-type="written_in">
            {% for lang in db.written_in %}
              <a href="/search/written_lang/{{ lang }}">{{ lang }}</a>,
            {% endfor %}
          </span>
        </div>
        <div class="metadata-row">
          <span class="header-text">OSes: </span>
          <span class="metadata-data" data-type="oses">
            {% for os in db.oses %}
              <a href="/search/os/{{ os }}">{{ os }}</a>,
            {% endfor %}
          </span>
        </div>
        <div class="metadata-row">
          <span class="header-text">Project Type: </span><span class="metadata-data" data-type="project_type">{{ db.project_type }}</span>
        </div>
        <div class="metadata-row">
          <span class="header-text">Derived From: </span><span class="metadata-data" data-type="derived_from">{{ db.derived_From }}</span>
        </div>
        <div class="metadata-row">
          <span class="header-text">Support Language: </span>
          <span class="metadata-data" data-type="support_languages">
            {% for lang in db.support_languages %}
              <a href="/search/support_lang/{{ lang }}">{{ lang }}</a>,
            {% endfor %}
          </span>
        </div>
      </div>
    </div>

    <div class="row citation-row">
      <div class="col-md-12">
        <div class="citations-header subsection-heading">
          Citations
        </div>
        <div class="citations-area">
          {% for pub in db.pubs %}
            <div class="citation">
              {% if pub.link %}
                [{{ pub.number }}] <a href="{{ pub.link }}">{{ pub.cite }}</a>
              {% else %}
                [{{ pub.number }}] {{ pub.cite }}
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

  </div><!--/col-12-->
</div>

{% endblock %}

{% block js %}

  <script src="{% static 'js/database.js' %}"></script>

{% endblock %}
