{% extends 'base.html' %}

{% load staticfiles %}

{% block css %}
  <link href="{% static 'css/homepage.css' %}" rel="stylesheet">
  <link href="{% static 'css/libs/checkbox.css' %}" rel="stylesheet">
{% endblock %}

{% block searchbar %}{% endblock %}

{% block body %}
64BD5A
<div class="row homepage-top-row">
  <div class="col-lg-8 col-lg-offset-2 col-md-8, col-md-offset-2, col-sm-10 col-sm-offset-1, col-xs-12">
    <div class="homepage-title as-off">
      Databaseology
    </div>
    <div class="homepage-subtitle as-off">
      Discover and learn about <span class="green-text"><b>all</b></span> the databases
    </div>
    <div class="homepage-searchbar-area as-off">
      <input type="text" class="homepage-searchbar header-searchbar-input" placeholder="Begin searching!">
    </div>
    <div class="as-button inactive">
      Advanced Search
    </div>
  </div>
</div>

<div class="row activity-row">
  <div class="col-md-offset-1 col-md-5 col-sm-12 col-xs-12 recent-activity-section">
    <div class="homepage-section-title">
      Recent Activity
    </div>
    {% for edit in edits %}
      <div class="row revision-row">
        <div class="col-md-4 col-xs-3 revision-date">
          {{ edit.date }}
        </div>
        <div class="col-md-8 col-xs-9">
          <div class="revision-metadata">
            {{ edit.creator }} edited <a href="/db/{{edit.name}}">{{ edit.name }}</a>
          </div>
          <div class="revision-message">
            {{ edit.version_message }}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="col-md-5 col-sm-12 col-xs-12 recent-activity-section">
    <div class="homepage-section-title">
      Most Edited Databases
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Database</th>
          <th>Versions</th>
        </tr>
      </thead>
      <tbody>
        {% for sm in top_sms %}
          <tr class="top-db-row" data-url="/db/{{sm.name}}">
            <td>{{ sm.rank }}</td>
            <td>{{ sm.name }}</td>
            <td>{{ sm.edits }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="row about-row">
  <div class="col-md-6 col-md-offset-3 col-sm-offset-1 col-sm-10 col-lg-6 homepage-section">
    <div class="homepage-section-title white">
      Mission
    </div>
    <div class="homepage-section-subtitle col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 grey">
      Databaseology is an open-source hub for all knowledge pertaining to databases.
      <br>
      <br>
      The website was developed at Carnegie Mellon University for the Database Applications Graduate course.
    </div>
  </div>
</div>

{% endblock %}

{% block js %}

<script src="{% static 'js/homepage.js' %}"></script>

{% endblock %}