{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
   Databaseology - {{ page_data.name }} - {{ page_data.page_type }}
{% endblock %}

{% block css %}
  <link href="{% static 'css/search_page.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="row page-row search-top-row">
  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="search-title green-text">
      {{ page_data.name }}
    </div>
    <div class="search-subtitle">
      {{ page_data.page_type }}
    </div>
  </div>
</div>

<div class="row page-row search-result-row">
  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
    {% for system in systems %}
      <div class="row search-result" data-url="/db/{{ system.slug }}">
        <div class="col-md-4 col-sm-12 search-result-metadata-area">
          <div class="search-result-title">
            {{ system.name }}
          </div>
          <div class="search-result-description">
            <b>Description: </b>{{ system.description }}
          </div>
        </div>
        <div class="col-md-8 col-sm-12">
          <div class="properties-list">
            <div class="row">
              {% for field in system.field_supports %}
                <div class="property-div col-lg-3 col-md-4 col-sm-4 col-xs-6">
                  {% if field.support == None %}
                    <img src="{% static 'images/icon-maybe.png' %}" class="check-img icon-maybe">
                  {% elif field.support %}
                    <img src="{% static 'images/icon-yes.png' %}" class="check-img icon-yes">
                  {% else %}
                    <img src="{% static 'images/icon-no.png' %}" class="check-img icon-no">
                  {% endif %}
                  <span class="property-name">
                    {{ field.field_name }}
                  </span>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}

{% block js %}
  <script src="{% static 'js/search_page.js' %}"></script>
{% endblock %}
