{% extends 'base.html' %}
{% load static dates page_title links %}

{% block title %}{{ flatpage.title }}{{ DBDB_TITLE_SEPARATOR }}{% endblock %}
{% block head_meta %}
<meta property="og:title" content="{{ flatpage.title }}{{ DBDB_TITLE_SEPARATOR }}{{ DBDB_SITE_NAME }}" />
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static DBDB_SITE_OGIMAGE %}" />
{% if flatpage.meta.subtitle %}<meta name="description" content="{{ flatpage.meta.subtitle }}" />
<meta property="og:description" content="{{ flatpage.meta.subtitle }}" />{% endif %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ flatpage.title }}{{ DBDB_TITLE_SEPARATOR }}{{ DBDB_SITE_NAME }}" />
{% if flatpage.meta.subtitle %}<meta name="twitter:description" content="{{ flatpage.meta.subtitle }}" />{% endif %}
<meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}{% static DBDB_SITE_FAVICON %}" />
{% if flatpage.meta.modified %}<meta name="twitter:label1" content="Last Updated" />
<meta name="twitter:data1" content="{{ flatpage.meta.modified|strftime:DBDB_META_DATETIME_FORMAT }}" />{% endif %}
{% if flatpage.meta.kicker %}<meta name="twitter:label2" content="Section" />
<meta name="twitter:data2" content="{{ flatpage.meta.kicker }}" />{% endif %}
{% endblock %}

{% block content %}
{% page_title %}
{% ptitle_kicker %}{% if flatpage.meta.kicker %}{{ flatpage.meta.kicker }}{% else %}Reference{% endif %}{% endptitle_kicker %}
{% ptitle_title %}{{ flatpage.title }}{% endptitle_title %}
{% ptitle_sub %}{% if flatpage.meta.subtitle %}{{ flatpage.meta.subtitle }}{% endif %}{% endptitle_sub %}
{% ptitle_action %}
    {% if user.is_superuser %}
    <a class="btn btn-edit" href="{% url 'admin:flatpages_flatpage_change' flatpage.pk %}">
        <i class="fa-solid fa-pen-to-square"></i> Edit
    </a>
    {% endif %}
{% endptitle_action %}
{% endpage_title %}
<div class="flatpage-content fs-5 mt-3">
    {{ flatpage.content }}
</div>
{% if flatpage.meta.modified %}{% last_modified flatpage.meta.modified %}{% endif %}
{% endblock %}
